[2022-02-08 21:11] Neverwas-dev opened #978 "Bug - app crash when switching to wallet not supporting BTC on BTC account page"
# **IMPORTANT: NO BOUNTIES WILL BE PAID FROM 2/5 - 2/14 - IF YOU COMPLETE THIS BOUNTY DURING THIS TIMEFRAME WE WILL REMIT PAYMENT ON 2/14**

# Overview

If you are connected to a wallet that supports BTC assets that contains BTC balances. Once on the accounts page when trying to use the switch wallet button changing to the Metamask wallet it tries to load the accounts page with the BTC accounts it

[2022-02-08 21:24] tshifty opened #979 "(Web) Unable to spend BTC from legacy account with KK"

[2022-02-08 21:28] tshifty opened #980 "WETH trade into ERC-20 gives insufficient gas error using native"
Description:
WETH trades into ERC-20 assets gives an insufficient gas error, there seems to be something off about how are calculating gas for this specific trade. This error does not show up for third-party wallets (MetaMask or Portis) and is most likely present on Keepkey as well.
![GasError](https://user-images.githubusercontent.com/94189400/153082767-55e031cc-5962-4adc-90ae-cff626ea7af5.png)

[2022-02-08 23:12] DaoDev44 opened #982 "Create Bounty Template for ShapeShift Repositories (Web, Lib, Unchained)"
# IMPORTANT: NO BOUNTIES WILL BE PAID FROM 2/5 - 2/14 - IF YOU COMPLETE THIS BOUNTY DURING THIS TIMEFRAME WE WILL REMIT PAYMENT ON 2/14

## Overview
Bounty creators need a template to make bounty creation easy and consistent across ShapeShift repositories.

Core developers and others are tasked with creating bounties for the ShapeShift DAO community of developers to complete. A bounty template wou

[2022-02-08 23:53] amitojsingh366 commented on #982
I can take this bounty up and will be happy to make the bounty creation process as simple as possible.
I intend to use the new [GitHub Issue Forms](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms) feature to make the bounty creation process super easy and intuitive!

[2022-02-09 13:50] LPX55 opened #983 "another late night rambling: propelling ShapeShift dex to the next level"
Much of the world's _successful and/or industry leading_ FOSS projects have similar traits that distinguishes them from the rest: plugins, themes, customizability, resulting in a huge dev community. Let's take a prime example: WordPress. Regardless of what your opinions may be regarding PHP or WP itself, the matter of the fact is that it continues to be the platform of choice for more than half of

[2022-02-09 19:11] SS-FOX-McCloud opened #985 "Make send form default to amount denominated in crypto rather than fiat"
# **IMPORTANT: NO BOUNTIES WILL BE PAID FROM 2/5 - 2/14 - IF YOU COMPLETE THIS BOUNTY DURING THIS TIMEFRAME WE WILL REMIT PAYMENT ON 2/14**

# Overview

As a user, when I am sending crypto in the web V2 app the send amount should default to the crypto amount instead of the USD (or chosen fiat currency) amount.

Currently, when sending funds the send amount is entered in as a USD value with the abi

[2022-02-09 19:20] SS-FOX-McCloud opened #986 "Add link to transaction id to successful transaction notification"
# **IMPORTANT: NO BOUNTIES WILL BE PAID FROM 2/5 - 2/14 - IF YOU COMPLETE THIS BOUNTY DURING THIS TIMEFRAME WE WILL REMIT PAYMENT ON 2/14**

# Overview

As a user, after I broadcast a successful transaction I want to be notified of the success and have the ability to view the completed TX on the corresponding block explorer.

Currently, after a successful TX a toast notification is displayed.  Thi

[2022-02-09 23:07] #658 closed

[2022-02-09 23:09] 0xdef1cafe commented on #969
fixed in https://github.com/shapeshift/web/pull/966/commits/ef3864acee7032b436b30fd47c9bda36e5a511aa

[2022-02-09 23:09] #969 closed

[2022-02-09 23:30] SS-FOX-McCloud commented on #985
@0xdef1cafe I agree- this should default to 0 until a user puts in an amount.

[2022-02-09 23:41] SS-FOX-McCloud commented on #985
Correction- After talking with @amitojsingh366 we are going to default to to empty.

[2022-02-09 23:58] 0xdef1cafe commented on #960
@willyogo do you know where we can source this missing asset data that isn't coingecko, coincap, or yearn?

[2022-02-10 00:07] 0xdef1cafe commented on #961
closing and reopened in lib https://github.com/shapeshift/lib/issues/353

[2022-02-10 00:07] #961 closed

[2022-02-10 00:37] tshifty opened #990 "Back button on /defi route doesn't work"
# **IMPORTANT: NO BOUNTIES WILL BE PAID FROM 2/5 - 2/14 - IF YOU COMPLETE THIS BOUNTY DURING THIS TIMEFRAME WE WILL REMIT PAYMENT ON 2/14**

# Overview

The back button on the top left hand side of the `/defi` route links to nothing but works on the `/defi/earn` route.

Recreation Steps:
1. [Go to ShapeShift and connect a wallet](https://app.shapeshift.com/)
2. Click on the defi button at the top

[2022-02-10 00:48] 0xdef1cafe commented on #941
console error message is `WalletProvider:NativeWallet:Start - Cannnot enumerate Vault DOMException: A mutation operation was attempted on a database that did not allow mutations.`

[this is a fundamental limitation of firefox in incognito](https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API#private_browsing_incognito_modes)

this would be a big lift in comparison to the number of peop

[2022-02-10 00:48] #941 closed

[2022-02-10 01:50] 0xdef1cafe commented on #939
this requires a wallet with a large number of assets and is better suited to shapeshift engineering using an ops test wallet

[2022-02-10 02:15] #938 closed

[2022-02-10 08:50] 0xApotheosis commented on #946
Still overcoming a permissions issue, though this is partly done.

I suspect the tests will break in CI until the programmatic log-in work is complete, so finalising this issue is likely blocked by https://github.com/shapeshift/web/issues/948.

[2022-02-10 08:51] 0xApotheosis commented on #948
This is likely a blocker to https://github.com/shapeshift/web/issues/946, as CI builds will break until we have programmatic login.

[2022-02-10 16:55] lohba commented on #990
@tshifty I would like to work on this

[2022-02-10 17:22] #978 closed

[2022-02-10 20:54] theoboldfrazier commented on #959
@willyogo @amitojsingh366 Moving conversation for this over to here because it appears to be more of a lib bounty.

https://github.com/shapeshift/lib/issues/354

[2022-02-10 20:55] #959 closed

[2022-02-11 08:20] amitojsingh366 commented on #982
@DaoDev44 @0xdef1cafe I have completed the work, the PRs I made can be found below:
https://github.com/shapeshift/web/pull/1000
https://github.com/shapeshift/lib/pull/358
https://github.com/shapeshift/unchained/pull/249

[2022-02-11 13:26] amitojsingh366 commented on #959
@theoboldfrazier @willyogo the way I was thinking of doing this was just making a circular div an positioning the symbol as text in it accordingly, not sure how that is suited for lib 😕. Unless you had a different implementation in mind?

[2022-02-11 15:41] chxash commented on #948
@0xApotheosis @0xdef1cafe
I have been investigating / trying a lot of things for this item, and the only way I could see to programmatically login for cypress, is to expose the store via window object (https://stackoverflow.com/questions/66646336/how-to-access-redux-store-in-cypress-if-the-application-is-running-outside-of-cy). Then we could call some dispatch method or initiate the state in a way

[2022-02-11 16:00] 0xdef1cafe commented on #948
wow, appreciate the transparency and communication here.

i discussed this with @0xApotheosis yesterday and believe this is the approach he was willing to take. i'll let him respond but i think this is the best we can do right now and you may be able to pick this back up.

i won't reassign another bounty hunter until we figure out a path forward.

[2022-02-11 16:03] 0xdef1cafe commented on #982
@amitojsingh366 thanks! - as discussed, we're considering this done, and will be paid out by @0xean on 2/14.

[2022-02-11 16:05] amitojsingh366 commented on #982
yep thanks 👍

[2022-02-11 16:14] #982 closed

[2022-02-11 16:35] 0xdef1cafe opened #1004 "Testing bounty template"
### Overview

Foo

### Reference

Bar

### Acceptance Criteria

Baz

### Screenshots/Mockups

_No response_

### Cross team

- [X] needs engineering
- [ ] needs product

### Bounty Hunters

- [Join our discord](https://discord.gg/shapeshift)
- Include an expected timeline for you to complete work in the work plan when you apply for this bounty!
- Please refer to [this link](https://shapeshiftdao.g

[2022-02-11 16:36] #1004 closed

[2022-02-11 17:27] theoboldfrazier commented on #959
@amitojsingh366 Yes. That makes sense to me. You will need some code in web. The idea behind moving it as a lib issue is that we want to make sure the icon generation is happening there.

[2022-02-11 19:30] 0xApotheosis commented on #948
Thanks @chxash, appreciate the update.

I'm comfortable with the dispatch method approach to set the Redux State. It sounds like we just need to overcome the issue of accessing the Cypress context programmatically.

As discussed via DM, I'll take a parse at finding a solution for this, and then you can pick it back up from there.

[2022-02-11 19:56] decentralized-j opened #1006 "View and Download Tx History"
**note - this is reserved for @stackedq - if you start work on this in parallel your PR will be closed**

### Overview

Allow users to download their Tx history within ShapeShift as a .csv for easy import into crypto tax applications.

Users will be able to navigate to specific "Transaction History" button in the global navigation, as well as see specific asset transaction history from within the

[2022-02-11 20:09] chxash commented on #948
@0xdef1cafe @0xApotheosis thank you for the feedback and DMs, I will gladly try to finish this once we find a solution

[2022-02-11 21:22] #77 closed

[2022-02-11 21:23] 0xdef1cafe commented on #327
closing in favor of https://github.com/shapeshift/web/issues/1006

[2022-02-11 21:23] #327 closed

[2022-02-11 21:30] 0xdef1cafe commented on #526
comment above still valid as of writing, requires new hdwallet version to publish, likely to come week of 2/21

[2022-02-11 21:33] 0xdef1cafe commented on #407
closing in favor of required groundwork in https://github.com/shapeshift/web/issues/904

and awaiting product spec for wallet "demo mode"

[2022-02-11 21:33] #407 closed

[2022-02-11 21:34] 0xdef1cafe commented on #541
blocked by hdwallet changes required

[2022-02-11 21:38] 0xdef1cafe commented on #599
this only affects people prior to the fix, won't fix this

[2022-02-11 21:38] #599 closed

[2022-02-11 21:40] 0xdef1cafe commented on #646
@SS-FOX-McCloud can you please close and reopen under https://github.com/shapeshift/hdwallet/issues

[2022-02-11 21:40] #646 closed

[2022-02-11 21:41] 0xdef1cafe commented on #646
captured under hdwallet https://github.com/shapeshift/hdwallet/issues/414

[2022-02-11 21:42] 0xdef1cafe commented on #647
reopening under hdwallet https://github.com/shapeshift/hdwallet/issues/415

[2022-02-11 21:42] #647 closed

[2022-02-11 21:43] 0xdef1cafe commented on #650
closing as root cause is captured in https://github.com/shapeshift/web/issues/706 and this is not actually specific to WETH

[2022-02-11 21:45] 0xdef1cafe commented on #675
our mistake with creating this bounty

there's no practical benefit of a major version bump from 5 -> 6, as there are issues with memory and nested routers

@0xean this bounty needs paying out due to the work done but we closed the PR and don't need this upgrade done.

[2022-02-11 21:45] #675 closed

[2022-02-11 21:50] 0xdef1cafe commented on #706
given this continues to manifest in multiple issues we should prioritize this before the cosmos epic is done, as there's no guarantee that the btc and eth unchained implementations will be updated to match the new cosmos paginated and tx websocket implementation at the same time.

@0xdef1cafe to spike on approach and fetch portfolio on trade & new incoming tx and bounty.

note - solve the issue of

[2022-02-11 21:51] 0xdef1cafe commented on #713
as of writing, this is blocked by hdwallet bits required for async goodness.

probably not ready any earlier than 2/21

[2022-02-11 21:52] 0xdef1cafe commented on #720
still in progress with @loxator as of 2/11

[2022-02-11 21:56] 0xdef1cafe commented on #737
done in https://github.com/shapeshift/web/pull/865/files

[2022-02-11 21:56] #737 closed

[2022-02-11 21:56] #738 closed

[2022-02-11 21:59] 0xdef1cafe commented on #885
dupe of #840

[2022-02-11 21:59] #885 closed

[2022-02-11 22:06] #877 closed

[2022-02-11 22:07] 0xdef1cafe commented on #882
@rbeer would you like to go ahead and PR your implementation of this?

[2022-02-11 22:11] 0xdef1cafe commented on #895
awaiting mockups from product and can be rebountied as "demo mode"

[2022-02-11 22:11] 0xdef1cafe commented on #902
@rbeer any update on this one?

[2022-02-11 22:12] 0xdef1cafe commented on #907
also related to #706

[2022-02-11 22:15] 0xdef1cafe commented on #923
@mrnerdhair to deploy this change when all of engineering and ops are on vacation together. gl. hf.

[2022-02-11 22:22] #909 closed

[2022-02-11 22:22] #958 closed

[2022-02-11 22:34] 0xdef1cafe commented on #960
ah i see, if it's this rudimentary, just symbol/name/decimals, according to @theoboldfrazier we can get this via web3 utils

@mrnerdhair has some valid points that we should provide some sort of indication

* when importing custom tokens, and
* in a few places in the UI, to denote that a user is dealing with a custom token

[2022-02-11 22:38] 0xdef1cafe commented on #949
@visitskyworld how are you going with this one?

[2022-02-11 22:39] 0xdef1cafe commented on #957
very closely related to https://github.com/shapeshift/web/issues/957

[2022-02-11 22:43] #985 closed

[2022-02-11 22:44] #980 closed

[2022-02-11 22:49] 0xdef1cafe commented on #1006
@0xApotheosis FYI - don't implement this one yourself, but this can be bountied out in parallel.

i'll leave it up to your discretion if we want to consider this one `blocked` for now, or if we want to just implement this as is and when your tx type parsing changes come through they'll naturally just flow through into here.

[2022-02-12 12:25] gomesalexandre opened #1009 "Selectors refactor - Make architecture consistent and export from a root selectors file"
### Overview

Currently in web, reselect selectors live in one folder for each slice, but the structures of these slice folders aren't consistent.

In this ticket, we should make them consistent by making sure to have a `selectors` file for each slice and re-exporting all of these from a root `selectors` file.

The end goal of this is to be able to use [reselect tools](https://github.com/skortchma

[2022-02-13 10:10] 0xApotheosis commented on #948
@0xdef1cafe - @Soptq has put together [a nice PR](https://github.com/shapeshift/web/pull/1010) for this, please accept his work request for the bounty and I'll work with him through to completion.

[2022-02-14 15:00] 0xean commented on #932
thank you @visitskyworld - payment + tip inbound

[2022-02-14 15:00] #932 closed

[2022-02-14 17:14] amitojsingh366 opened #1014 "testing template, will delete"
### Overview

just testing

### Reference

just testing

### Acceptance Criteria

just testing

### Screenshots/Mockups

just testing

### Ownership

- [X] If my bounty needs engineering or needs product I have added the respective labels on the right
- [X] As the sponsor of this bounty I will review the changes in a preview environment (ops/product) or review the PR (engineering)

[2022-02-14 17:15] amitojsingh366 commented on #1014
@0xdef1cafe have a look, it does not work. closing as testing

[2022-02-14 17:15] #1014 closed

[2022-02-14 17:16] 0xean opened #1015 "test"
### Overview

aafs sf

### Reference

bfaf

### Acceptance Criteria

cfsaf

### Screenshots/Mockups

dfd

### Ownership

- [X] If my bounty needs engineering or needs product I have added the respective labels on the right
- [X] As the sponsor of this bounty I will review the changes in a preview environment (ops/product) or review the PR (engineering)

[2022-02-14 19:12] #948 closed

[2022-02-15 01:09] DaoDev44 opened #1020 "Enable hyperlinks in custom, hardcoded asset descriptions (pt 2)"
### Overview

ShapeShift web now supports custom asset descriptions, which can be added here: https://github.com/willyogo/lib/blob/patch-1/packages/asset-service/src/service/descriptions.json

Product plans on sourcing descriptions/instructions for each of the assets supported on Yearn which lack liquidity on DEXs, ie. LP tokens like crvCRVETH (see https://github.com/shapeshift/lib/pull/350 and [e

[2022-02-15 05:34] 0xApotheosis commented on #946
This is now ready for review: https://github.com/shapeshift/web/pull/1012

[2022-02-15 08:38] LPX55 commented on #983
looks like we've got Discussions unlocked! https://github.com/shapeshift/web/discussions

closing issue

[2022-02-15 08:38] #983 closed

[2022-02-15 16:12] #1009 closed, assigned to 0xean

[2022-02-15 17:02] #891 closed

[2022-02-15 17:17] amitojsingh366 commented on #1020
I can give this a shot, I've worked with markdown in react before to make a blog website so I have a pretty good idea on how this will be implemented

[2022-02-15 20:20] cjthompson opened #1024 "Fix CloudFlare headers"
### Overview

Output from CloudFlare Pages build:
[code]

It looks like one of our headers is too long and not being implemented.

### Reference

CloudFlare limits headers to 1000 characters

### Acceptance Criteria
- Modify headers.js to break apart header length
- No errors present
- All needed headers are present
- Validating:
  - _headers in a production build can be manually checked
  - PR wi

[2022-02-15 20:23] tshifty opened #1025 "Sending ETH to (contract address) will give an out of gas error (Native Wallet / Keepkey)"
### Overview

When sending ETH directly to a contract address from the send modal you will get an out of gas error and the TX will fail when using Native Wallet (ShapeShift Wallet or Keepkey). Failed TX: https://etherscan.io/tx/0x670880a8f8c28b6b2f25aecec184b04797f3362bb8fc973e8dea1b7b5122efbb

Recreation Steps:
1. Go to app.shapeshift.com using a native wallet or keepkey
2. Send ETH directly to a

[2022-02-15 22:23] 0xean commented on #559
removing needs bounty until we are ready

[2022-02-15 22:30] #946 closed

[2022-02-16 17:14] 0xean commented on #877
@chxash - can you please submit work on Github and I can get this paid out ASAP!

Thanks!

[2022-02-16 17:20] 0xean commented on #902
@rbeer - please let us know how this is progressing

[2022-02-16 17:22] 0xean commented on #963
@ufe-pr - can you give us an update on the status of this one?

[2022-02-16 17:52] chxash commented on #877
oops .. done ! thank you

[2022-02-16 19:23] 0xean commented on #568
👏  - thanks @chxash for the work here to dive deep and get this resolved.  Feel free to send me a message with hours spent and I can tip you out for it.

Again, very much appreciate all of your recent PRs!  Keep em comin.

[2022-02-16 21:11] #990 closed

[2022-02-16 22:46] theoboldfrazier commented on #967
see: https://github.com/shapeshift/web/pull/984/files

[2022-02-16 23:15] stackedq commented on #904
I'm gonna create a PR now, it's not done yet, but a couple of things need reviewing:

1. Splash screen is still present after reload but instead of CTA, a loading indicator is shown while connecting to the wallet.
2. When the native wallet is connected, the password modal opens (while on the splash screen).
3.  I don't own a hardware wallet so I'm waiting on instructions from Operations.
4. some p

[2022-02-17 09:46] chxash commented on #568
Integrated lib fix within https://github.com/shapeshift/web/pull/1036

Bug is fixed in web with this :

![rune_fixed](https://user-images.githubusercontent.com/5720927/154449406-c34a8b75-8660-459c-88fc-5020a61284ab.png)

[2022-02-17 10:10] visitskyworld commented on #949
As transaction type is different from ethereum socket server and mock server, mocked transactions are not rendered in dashboard page.

Real transaction type:
[code]
Mock transaction in `cypress/factories/cypress/transactions.ts`:
[code]
Should I change mock data? @0xApotheosis

[2022-02-17 10:16] 0xApotheosis commented on #949
@visitskyworld absolutely - please update them to whether accurately represents the actual data received via WebSockets.

The current transaction file is not yet used anywhere, and is more a placeholder. Adapt it to your needs 👌

[2022-02-17 21:19] visitskyworld commented on #1020
PR link is here: https://github.com/shapeshift/web/pull/1045

[2022-02-18 16:45] 0xean commented on #847
giuliogallerini - are you still interested in this bounty? If so, would love to have you pick it up.  Let me know and I can approve you on gitcoin.

[2022-02-18 16:48] 0xean commented on #931
closed in #950

[2022-02-18 16:48] #931 closed

[2022-02-19 02:14] visitskyworld commented on #847
@0xean , I am interested in this bounty.

[2022-02-19 09:43] giuliogallerini commented on #847
@0xean I not currently available unfortunately.

[2022-02-19 16:30] gomesalexandre commented on #1025
To quote @willyogo on this one:
[code]

[2022-02-20 14:20] chxash commented on #568
Bug fix from lib has been integrated into web develop branch, this issue can be verified / closed.

[2022-02-20 14:34] chxash opened #1049 "Fix french translation on connect wallet screen"
Some i18n texts are not correct in french, see screenshots attached.

![fr1](https://user-images.githubusercontent.com/5720927/154847798-100bbc25-367b-4ad8-b621-1344d4379844.png)
![fr2](https://user-images.githubusercontent.com/5720927/154847800-3ae5f986-11b7-43ff-8700-5f73d3a44126.png)

[2022-02-20 16:13] gomesalexandre commented on #1049
The not-yet translated entries are expected, have a look at the PR for initial translations: https://github.com/shapeshift/web/pull/924 - it's not exhaustive and more translations are yet to be added!

As for the missing keys, these were added in a later PR. Quoting my earlier discussion with @LPX55:

[code]

I think it would be a great value to have some json diff that adds the missing entries as

[2022-02-20 16:54] chxash commented on #1049
@gomesalexandre ok thank you :) closing this issue !

[2022-02-20 16:54] #1049 closed

[2022-02-21 14:03] 0xean commented on #963
@ufe-pr - feel free to open the PR and we can get it reviewed.  I don't think we need to block on @mrnerdhair as this has to be better than having _no_ TOS/ PP in place and we can easily modify it.

[2022-02-21 14:05] 0xean commented on #568
@SS-FOX-McCloud - can you please verify against develop and we can close this once done?

[2022-02-21 16:26] mrnerdhair commented on #963
I'm happy with getting the review process done, but we should be *very careful* about putting our very first legal language up. I need to have a chance to talk with Andy before we pull the trigger on this.

[2022-02-21 16:55] willyogo commented on #963
gm @mrnerdhair, you avail to chat real quick about this?

[2022-02-21 17:08] willyogo commented on #963
@0xean is it possible to pay this bounty out but hold off on merging it until the end of the week? @mrnerdhair has some good thoughts on some minor changes to language before this goes up and will discuss with Andy asap; they already chatted some at ETHDenver.

[2022-02-21 17:24] 0xean commented on #963
Sure, we can get it reviewed and then close the PR without merging and pay out the bounty.

[2022-02-21 19:49] Lychbot opened #1051 "Send modal does not update "insufficient funds" button when inputing the correct amount of funds"
### Overview

When sending an amount that is more than the available balance, the send modal does not update "insufficient funds" button to "Continue" after inputing the correct amount in the modal.

### Reference

Recreations steps:
1. Go to app.shapeshift.com
2. Input an incorrect, or more than the balance, amount of coin / token
3. Delete the incorrect amount and input an amount you can afford

[2022-02-21 20:57] 0xean commented on #847
thanks @giuliogallerini for the response.  @visitskyworld - best of luck! I linked 2 previous PRs that you can reference if they help at all.

[2022-02-21 21:26] #971 closed

[2022-02-22 14:04] ufe-pr commented on #963
So I've created the PR. https://github.com/shapeshift/web/pull/1053

[2022-02-22 19:08] #568 closed

[2022-02-22 22:11] SS-FOX-McCloud commented on #1051
The error handling on the trade modal handles this issue correctly.  This needs to be fixed only on the send modal.

[2022-02-22 23:21] #904 closed

[2022-02-23 01:02] gomesalexandre opened #1056 "Send modal validation - Do not allow 0 (zero) value tx"
### Overview

Currently, it is possible to input 0 ETH / USD in the send modal.

This will build a tx with 0 ETH value, which Metamask will be happy to broadcast since 0 value are valid txs, in the case of smart contract calls, which in this case would call the fallback function.

0 ERC20 txs are also created.

### Expected

Send is used to send funds, triggering a smart contract fallback function

[2022-02-23 02:31] cjthompson commented on #963
Since the DAO isn't a legal entity, I'm not even sure how we can establish a legal contract with anyone It seems to me that the Terms of Service and Privacy Policy should be coming from the legal entity that's **hosting** the source code.

On another note, these screenshots show a lot of weird formatting issues especially regarding spaces (either lack of spaces after punctuation or additional spac

[2022-02-23 03:15] cjthompson opened #1057 "Fix Dashboard page not loading when refreshing with a KeepKey connected"
### Overview

## Any contributor that wishes to be assigned this ticket MUST already own a KeepKey
_Contributors without a KeepKey will not be approved. Please do not ask for a free KeepKey in order to quality for this bounty._

A new feature was recently added that saves information about the paired wallet into LocalStorage. When the app is loaded or refreshed, that information is used to re-crea

[2022-02-23 03:21] cjthompson commented on #1057
@0xean - Now that this has been merged into develop, we need to test how it works when deployed to CloudFlare vs Fleek before putting this out as a bounty. It's possible that some of these issues were due to the Fleek deployment.

Please do not bounty this until we can get a few people to test the current code at https://develop.web-29e.pages.dev

[2022-02-23 07:40] stackedq commented on #1056
I also faced this issue and I'm quite sure it will be fixed by https://github.com/shapeshift/web/pull/1052

[2022-02-23 07:52] #659 closed

[2022-02-23 10:09] stackedq commented on #1056
Since my [PR](https://github.com/shapeshift/web/pull/1052) is not merged yet, I could change the button to:
[code]
to fix this.

[2022-02-23 10:23] gomesalexandre commented on #1056
@stackedq Thanks for looking into this!
It would be cleaner to have this as a separate PR. I've added a comment about title/description in your PR, it will make it clearer why this should be separate PR.

I've also asked @0xean if we should bounty this.

[2022-02-23 13:44] 0xean commented on #1057
as far as I can tell this is all working on the dev deployment.

[2022-02-23 14:17] #1051 closed

[2022-02-23 17:27] willyogo commented on #960
sweet! re: providing indications,
- we've got this mockup for warning a user in the trade modal when they import a token
- we could consider adding an info/warning icon to any token's icon throughout the UI if a token is not on the CoinGecko list (ideally with a tooltip on hover with the same copy displayed when importing a token, but instead of "trade" we should say "interact with"), but I think

[2022-02-23 17:51] gomesalexandre commented on #1056
Closing as per product discussion with @willyogo.

The rationale is that:
- 0 value txs are valid txs
- As a user, I might want to call a fallback function
- As a user, I might want to send a tx with 0 value, with a memo attached

[2022-02-23 17:52] #1056 closed

[2022-02-23 23:53] reallybeard commented on #973
IDEA:
Add toggle above table, "Show small balances" with a tooltip that says "Show assets with balances below $1.00"

Mockup:
TBD

[2022-02-23 23:56] reallybeard commented on #921
Mockup of an asset without market data:
![Screen Shot 2022-02-23 at 5 55 39 PM](https://user-images.githubusercontent.com/89934888/155430791-3381ab9f-d86d-496b-bff1-0540324ad3c8.png)

Anywhere we display the value in fiat we that value should be removed, examples of this:
![Screen Shot 2022-02-23 at 5 55 44 PM](https://user-images.githubusercontent.com/89934888/155430829-a307ab51-fb2c-4525-b009-17

[2022-02-23 23:58] DiggyDiggy2 commented on #559
there is a new design for TX history. i think that makes this an outdated issue.

[2022-02-23 23:58] 0xdef1cafe commented on #1006
@decentralized-j gonna pop the `needs product` back on this till we get the mocks updated like we chatted about and then this is pretty close to go

[2022-02-24 00:03] 0xdef1cafe commented on #559
i'm more than happy to close this in favor of https://github.com/shapeshift/web/issues/1006

[2022-02-24 00:07] 0xdef1cafe commented on #960
i like this justification and you're right, they only warn on import, we're super clear on import here in the mocks, and it's up to them after that. will remove needs product and we can architect this and get it going on engineerings side.

[2022-02-24 00:11] #939 closed

[2022-02-24 23:28] 0xApotheosis opened #1067 "Add Cypress as a required check for PRs"
**Context**

Cypress was added as a manual CI action last week (https://github.com/shapeshift/web/pull/1012). Since then, about a third of the tests have broken due to UI updates in `web`.

Maintaining these tests myself is not sustainable, and so they need to become a required part of the CI pipeline - if you make a change that breaks an existing test, that test needs to be fixed in that PR befor

[2022-02-24 23:36] 0xApotheosis opened #1068 "Display Yearn transactions on history and recent pages"
**Context**

With a Yearn parser [now in `unchained`](https://github.com/shapeshift/unchained/pull/267), we can detect the following Yearn transaction types: `approve`, `deposit`, and `withdraw`.

**Acceptance criteria**

- Add transaction components to handle each of the new transaction types, and render them in Transaction History and Recent Transaction sections.

**Other notes**

We might also

[2022-02-25 18:09] 0xdef1cafe commented on #1006
preemptively reserving this as a bounty for @stackedq

[2022-02-25 18:18] #986 closed

[2022-02-25 18:46] 0xean commented on #986
@abaqai - can you please "Submit Work" on gitcoin so we can get this paid out! Thanks!

[2022-02-25 21:05] 0xean commented on #526
@0xdef1cafe - to check with highlander on the release of HD wallet

[2022-02-25 21:06] 0xean commented on #559
closing for #1006

[2022-02-25 21:06] #559 closed

[2022-02-25 21:09] 0xean commented on #644
closing per @asamere based on web architecture conversations from ~2/18

[2022-02-25 21:09] #644 closed

[2022-02-25 21:10] 0xdef1cafe commented on #526
@Neurone hdwallet finally got released - are you interested in picking this back up?

[2022-02-25 21:11] BitHighlander commented on #526
[code]

[2022-02-25 21:13] 0xean commented on #706
waiting on cosmos tx pagination and web sockets

[2022-02-25 21:14] 0xean commented on #720
xdefi team is affected by macro events and we are waiting for updates on their side.

[2022-02-25 21:15] 0xean commented on #753
closing until multiple accounts are implemented.

[2022-02-25 21:15] #753 closed

[2022-02-25 21:16] 0xean commented on #786
waiting on comsos tx pagination and websockets

[2022-02-25 21:17] 0xean commented on #829
@0xApotheosis - can this be unblocked at this point?

[2022-02-25 21:19] 0xean commented on #882
does product want to proceed with this change? @SS-FOX-McCloud  / @DiggyDiggy2

[2022-02-25 21:21] #892 closed

[2022-02-25 21:22] 0xean commented on #895
Product to meet with @cjthompson  on some wallet functionality before we move forward.

[2022-02-25 21:23] 0xean commented on #902
going to take this on internally and expand scope to cover EVM L2s as well.

[2022-02-25 21:28] 0xean commented on #930
closing as resolved with rate limiting

[2022-02-25 21:28] #930 closed

[2022-02-25 21:29] 0xean commented on #935
Product to provide error messaging (@DiggyDiggy2 / @SS-FOX-McCloud )

[2022-02-25 21:34] asamere commented on #645
Response from Yash:
https://discord.com/channels/741351331222126663/741354053736333333/936672562153398392

"hey @adamfox sorry for the delay in getting back, I missed it. currently there're no such plans of having gRPC on Osmosis & Secret very soon"

[2022-02-25 21:36] 0xdef1cafe commented on #1006
from @stackedq for @shapeshift/ops-product

"this should take roughly like 32 hours to be fully functional, saw that transaction history is currently available in an asset page, but the design doesn't match this issue design, gotta check txHistory API to make sure all fields used in the UI design are available, need a template for csv file, and need mobile/tablet design changes.
I think 1 week (up

[2022-02-25 22:59] 0xApotheosis commented on #829
@0xean I'll check it out.

Noting a few things here for reference and posterity:

A transaction with a confirmed `precision` issue that I'll debug against: https://etherscan.io/tx/0xae3be17af6e1eee8f954dfb2ee9d47e7ce54bf1f92b2b2693ff21a999e4f42ca

Current, parsed, output from the Chain Adapter on this transaction:

[code]

Blockbook `api/v2/tx` response:

[code]

[2022-02-25 23:04] Neurone commented on #526
Sure, no problem. It should be just a matter of an upgrade in package.json. I can send a PR for that.

[2022-02-25 23:35] tshifty opened #1072 "BTC change being displayed as a received TX after a send"
### Overview

When doing a send on app.shapeshift.com of BTC we display the send and also the change back from the UTXO in transaction history. This could be problematic for people that want a CSV of deposits and withdrawals for tax purposes as this is BTC they have already held in their wallet being swept.

Steps To Reproduce:
1. Go to app.shapeshift.com
2. Do a send of BTC to another wallet
3. N

[2022-02-27 06:56] 0xApotheosis commented on #829
I mocked the identified transactions locally and found no issues. Everything is rendering correctly in both the "recent transactions" and "transaction history" components, and the transaction links work as expected.

I've checked in with @LPX55 and confirmed that the issue is no longer occurring with their wallet in production, either.

Since this issue was reported, we have refactored the compone

[2022-02-27 06:56] #829 closed

[2022-02-27 20:39] 0xdef1cafe commented on #1025
@tshifty what is this contract and why are you sending ETH directly to it?

[2022-02-27 20:44] 0xdef1cafe commented on #829
you're right - this was a temporary issue where we were indexing btc transactions differently

[2022-02-27 22:34] willyogo commented on #1025
@0xdef1cafe this is coincenter's donation address, I was trying to send eth for the fundraising dinner. I think it's a multisig contract

[2022-02-28 16:26] #660 closed

[2022-02-28 16:26] #661 closed

[2022-02-28 16:26] #668 closed

[2022-02-28 17:54] #883 closed

[2022-02-28 17:58] #1020 closed

[2022-02-28 18:04] 0xdef1cafe opened #1083 "Asset description markdown link parsing improvements"
### Overview

We now have the ability to include custom asset descriptions including markdown thanks to this https://github.com/shapeshift/web/pull/1045

We want to be able to parse both

* absolute URLs to external links, e.g. starting with a full protocol and origin `https://www.coingecko.com/someAsset`
* relative urls to internal links, e.g. `/earn/defi`

### Reference

Modify logic in this fil

[2022-02-28 23:34] 0xApotheosis commented on #949
@visitskyworld how are you going with the requested changes on this one?

Are you able to provide an indication of when you'll be able to update the PR for review?

[2022-02-28 23:48] visitskyworld commented on #949
@0xApotheosis , sorry for missing this one. I will push updates asap.
But regarding implementation, I need your detailed explanation how to make mock server extensible and add mechanism for websocket intercepting.

We can handle this by updating the CI configuration, though my concern is that this causes all WebSocket requests to be intercepted.
Can we implement a pass-through mechanism, where if

[2022-03-01 00:22] 0xApotheosis opened #1085 "Abstract out magic precision number usages across transaction components"
this `18` should probably be `feeAsset.precision` and abstracted out

_Originally posted by @0xdef1cafe in https://github.com/shapeshift/web/pull/1076#discussion_r816344975_

[2022-03-01 00:41] 0xApotheosis opened #1086 "Add "contract interacted with" info to transaction component"
Once `data.contract` (or similar) is added to a transaction's metadata in `unchained`, we'll be able to display, and provide a link to, the contract that the transaction interacted with in `TransactionContract.tsx` in the expanded transaction view.

Blocked by https://github.com/shapeshift/unchained/issues/286.

This will look similar to how the "To" address is shown currently in the screenshot be

[2022-03-01 17:39] DiggyDiggy2 commented on #1072
Product reviewed- just need to not include the change address.The acceptance criteria covers it. Thanks!

[2022-03-01 17:41] #1067 closed

[2022-03-01 22:03] tshifty opened #1092 "DeFi overview page w/ light theme, current value number is white and unreadable"
### Overview

When using the light theme on the defi overview page, you will be unable to see the current value of your staked assets because the font is white.

Steps to recreate:
1. Go to app.shapeshift.com
2. Click on the "defi" page button
3. Either have an already staked position or make one
4. Unable light theme and go to the defi overview page
5. Notice that the color never changes to one t

[2022-03-01 22:50] #1068 closed

[2022-03-02 00:05] 0xdef1cafe commented on #1025
@willyogo thanks for the color, this is valid, we'll look into it, but not a high priority.

[2022-03-02 00:06] #963 closed

[2022-03-02 00:31] 0xdef1cafe opened #1095 "Modal provider unmount animation"
### Overview

**Please note - this bounty requires advanced TypeScript knowledge. Do not attempt this bounty if you are unfamiliar with mapped and/or recursive types.**

We have a modal provider component in web [which can be found here](https://github.com/shapeshift/web/blob/develop/src/context/ModalProvider/ModalProvider.tsx#L0-L1)

With the current implementation, when the modal is closed, the

[2022-03-02 00:32] 0xdef1cafe commented on #71
closing in favor of new template https://github.com/shapeshift/web/issues/1095

[2022-03-02 00:32] #71 closed

[2022-03-02 11:07] gomesalexandre commented on #1092
@tshifty I'm currently tidying the Cosmos staking views to fix light mode issues. Happy to add it here at the same time since it's low effort and the same context.

[2022-03-02 13:00] 0xean commented on #963
@ufe-pr - can you please "Submit Work" on gitcoin, and we can get you paid out for this?

Thank you!

[2022-03-02 17:53] #526 closed

[2022-03-02 19:45] #662 closed

[2022-03-02 21:24] decentralized-j commented on #1006
Just updating here - added CSV info and mobile mockups. Waiting for time picker redesign then we actually will be finished from the product side! Should be dropping that info in here later today.

[2022-03-02 22:09] fhrryDeveloper commented on #1092
Thanks, funder.
I will start working from now

[2022-03-02 23:06] 0xApotheosis commented on #1086
Closing for now, as this needs some more thought, and direction from the product team on what we want to achieve here.

Etherscan have a `Transaction Action` section that we could use as inspiration, but is this too much detail?

<img width="770" alt="Screen Shot 2022-03-03 at 10 04 53 am" src="https://user-images.githubusercontent.com/97164662/156464773-f6943319-505c-44ad-bd13-1ee5d73244ef.png">

[2022-03-02 23:06] #1086 closed

[2022-03-03 00:56] 0xApotheosis opened #1103 "Mock all Cypress requests"
**Note:** Please see the discussion below about using `cypress-autorecord` - this is now the preferred approach.

### Overview

For our Cypress tests, we currently mock only the data that is required by the UI elements and flows that we actually test.

We don't, however, mock the remaining calls, which slows down our test runs.

### Reference

See the current mocks for [external requests](https://

[2022-03-03 02:15] 0xApotheosis opened #1104 "Reduce Cypress run-time in CI"
### Overview

In `web`'s CI pipeline we have two workflow files that trigger runs when a PR is made against `main`, `develop`, or `releases/**`:

1. `.github/workflows/pr.yml`
2. `.github/workflows/pr-cypress.yml`.

In each workflow, we use `actions/cache@v2` to cache our node modules, so we only run `yarn install --frozen-lockfile` when we have a cache miss.

The current implementation has a numb

[2022-03-03 04:39] 0xApotheosis commented on #669
Adding mocks to improve clarity on requirements:

<img width="1045" alt="Screen Shot 2022-03-03 at 3 37 27 pm" src="https://user-images.githubusercontent.com/97164662/156497123-ddaa2479-87d9-4014-a8f7-c2ff75260128.png">

<img width="1043" alt="Screen Shot 2022-03-03 at 3 37 57 pm" src="https://user-images.githubusercontent.com/97164662/156497173-d5f1cc14-b5d5-45ac-b7d2-3e9252fa5a02.png">

<img wid

[2022-03-03 06:01] cjthompson opened #1105 "SPIKE: How can we refactor how modals work so that plugins can provide their own modals?"
### Overview

Currently, there is a local ModalProvider that can render a few specific modals, like Send or Receive.

As we move into our plugin model, we want plugins to be able to support rendering modals **without the need to touch any code outside of the `src/plugins` directory**

This is a research spike looking for suggestions from React experts on how we should refactor our code to allow fo

[2022-03-03 06:08] cjthompson opened #1106 "SPIKE: How can plugins provide their own language translations?"
### Overview

Currently, all translations are stored in a single JSON file (one per language). As the application grows, this file will become quite large and harder to manage.

In order to make our plugin architecture work (where all code is in `src/plugins/[pluginName]`), a plugin needs to be able to support translations.

Ideally, a plugin would not rely on translations to be included in the cu

[2022-03-03 06:10] cjthompson commented on #1106
Some thoughts on possible options that could to be explored:

* Individual components could wrap themselves in an `<I18n>` component that loads just the translations needed for that component
* A plugin could wrap it's large pages (like Asset page) in it's own `<I18n>` component that loads from a plugin provided translation file
* A plugin could export in it's metadata (see `plugins/index.tsx`) us

[2022-03-03 07:36] naftalimurgor commented on #1025
Hey @0xean
I'm currently looking into this issue. I was wondering is there a way to reproduce this behavior on Testnet deployment as I currently do not have real ETH to test this out. Also, it would be uneconomical to use real ETH.

Best,
Naftali

[2022-03-03 12:42] 0xean commented on #1025
You shouldn't need to create any transactions on testnet or mainnet.

https://ethereum.stackexchange.com/questions/82210/gas-cost-for-ether-transfer-to-smart-contract-from-eoa

Basically, we need to get an estimate when sending ETH to smart contract address vs using 21000 for sending ETH to an EOA

[2022-03-03 13:02] naftalimurgor commented on #1025
Wow, great insight, Thanks. That clears the doubt. I will submit a PR once I get something working

[2022-03-03 17:04] stackedq commented on #1006
@decentralized-j would you please ping me when the date picker design was uploaded here?

[2022-03-03 17:30] gomesalexandre commented on #665
Closed by #1070

[2022-03-03 17:30] #665 closed

[2022-03-03 17:56] DiggyDiggy2 commented on #882
We don't want to proceed with this change. I don't like forcing the user into search, as not everyone wants to do that

[2022-03-03 17:58] NeOMakinG commented on #935
@DiggyDiggy2

![image](https://user-images.githubusercontent.com/14963751/156623793-735c7642-3b29-4f91-9da7-06c384c36142.png)

Here is a quick look at what I did in case the camera access has been declined, and if you click on "Cancel", it redirect you back to the address form

[2022-03-03 18:05] SS-FOX-McCloud commented on #935
@NeOMakinG that error message is perfect. Once the user closes out of that error message they should be routed back to the first screen of the modal where they will enter in their address.  If they chose the QR button again they should be prompted to give camera permission again. (Or they can type in or copy/paste an address) Let us know if you have further questions.

[2022-03-03 18:10] NeOMakinG commented on #935
I've another question:

When they close the message, why do we want them to be redirected to the previous step? It looks not like a norma UX behavior to me, as an user, I would think that clicking on the close button, the modal would just disappear, but clicking on cancel, it would redirect me to the previous step

For example: When you click on the close button, you are not redirected to the asse

[2022-03-03 18:26] NeOMakinG commented on #935
Also, sorry but forgot something

We need to handle the fact that the user gives permission access while being in front of this error message

There is no way to listen to the permission event, which means that we need to ask the user to click on a button in case they gave the permissions

Here is my proposal

![image](https://user-images.githubusercontent.com/14963751/156628390-a593aa23-84d2-44f9

[2022-03-03 18:30] SS-FOX-McCloud commented on #935
@NeOMakinG Good point! Lets go with that flow.  Change the button to "Back" and if the user clicks that they are taken back to the first modal screen where they can enter in the address or click the QR code icon (in which case they are prompted to allow camera access again) or if they "x" out of the modal, the modal will close completely.  We can also add your additional "I gave access permissions

[2022-03-03 20:03] cjthompson commented on #1105
Closed in favor of https://github.com/shapeshift/web/discussions/1112

[2022-03-03 20:25] 0xApotheosis commented on #1104
@Soptq this will likely assist you to meet best practice: https://docs.cypress.io/guides/continuous-integration/introduction#Caching

[2022-03-03 21:08] DiggyDiggy2 commented on #935
Can we please just use a blue button to be consistent with our UI? :)

[2022-03-03 21:49] NeOMakinG commented on #935
We were talking about the wording with @gomesalexandre and we found out that it wasn't really clear for users, it should be understandable by everyone.

What do you think about this @DiggyDiggy2 ?

![image](https://user-images.githubusercontent.com/14963751/156658013-4d37dec9-62db-42b8-9a88-69387eac131d.png)

[2022-03-03 22:29] gomesalexandre commented on #940
The issue is that
- we have currently many (59) `<EarnOpportunityRow />` rows, each of them awaiting a `await chainAdapter.getAddress({ wallet })`  promise
- `<YearnDeposit />` fires a single similar request, but given how promises and the main thread work, this one resolves after all the opportunity rows requests resolve. We have an early return on button click - ` if (!state.userAddress) return`

[2022-03-03 22:32] gomesalexandre commented on #663
Reopening since broadcast should be done in the same issue.

[2022-03-03 22:40] G0bl1nSl4y3r commented on #1025
Nothing wrong with the Gas limit if you noticed the Tx that do not fail burn gas because in this day and age we use the new form of Tx type called EIP-1559 where a small portion of ether is burned. The transactions that are failing are obviously using Tx type 0 (legacy) where no ether gets burned... not out of gas but CANCELED Tx. Here is an example of a transaction that is not canceled but failed

[2022-03-04 04:03] 0xApotheosis opened #1121 "Add a generic transaction component to handle unknown transactions"
Add a `TransactionGeneric` component that renders basic transaction details of transactions that we don't explicitly understand, e.g. any UniSwap V3 transactions, or unhandled UniSwap V2 transactions.

- Call the new component in `TransactionRow.tsx`'s switch statement fall-through.
- Remove the early return on `!txDetails.type` in the `TransactionRow` constant

[2022-03-04 05:06] reallybeard opened #1122 "Web: Update defi manager to handle modules"

[2022-03-04 10:55] 0xApotheosis commented on #949
Hey @visitskyworld - I can see you've made some of the suggested changes in a new branch.

Will you be able to get the remaining changes to us in the next 24 hours?

If not, in the interest of expediency we may need to bring the remaining work in-house, or re-bounty what's left - we will of course issue a partial payment for the work done thus far!

[2022-03-04 16:41] #1122 closed

[2022-03-04 16:45] #1095 closed

[2022-03-04 16:49] 0xdef1cafe opened #1127 "Use semantic release for web releases"
We should leverage the semantic release library for web releases rather than our manual script, so that we get automatically generated `CHANGELOG.md` files, GitHub releases, and other benefits.

This needs to be done by centralized foxes with perms to the github org.

The linked closed PR is probably 80% of the way there, please use as a good reference.

[2022-03-04 17:04] DiggyDiggy2 commented on #935
yeah, I think this works! I don't think we need a comma after "Please"
Is that the correct button style? it feels a little small.

[2022-03-04 18:00] NeOMakinG commented on #935
Alright, updated:
![image](https://user-images.githubusercontent.com/14963751/156817065-36e4703d-5262-4805-8aec-9d0db5ae1001.png)

Thanks for the feedback!

[2022-03-04 18:03] reallybeard opened #1129 "Stub out the component for foxy in defi"

[2022-03-04 19:28] #1092 closed

[2022-03-04 19:45] #1104 closed

[2022-03-04 20:22] janus commented on #1025
@0xean , @naftalimurgor , @gomesalexandre

While checking your code I found this[0],
[code]
Why using `responseData` which is a type instead of `data` which is a named variable in subsequent line?

I would like to run the code locally, how do I go about it?

`Go to [app.shapeshift.com](http://app.shapeshift.com/) using a native wallet or keepkey`
I used MetaMask but I didn't see `send modal` butto

[2022-03-04 20:50] 0xean commented on #1092
nice one @NeOMakinG payout + tip sent!

[2022-03-04 22:25] #935 closed

[2022-03-04 22:50] NeOMakinG commented on #1092
Thanks man, appreciate it!

[2022-03-05 00:35] mrnerdhair commented on #840
Fixed by #1078.

[2022-03-05 00:35] #840 closed

[2022-03-05 07:38] 0xApotheosis opened #1136 "Add fallback Cypress key for forks"
## Description

Add a fallback Cypress key for forks by external contributors.

Note, the Cypress record key should generally be secret - we've created a secondary burner key that we can rotate if it gets abused, which we will include in the corresponding PR.

[2022-03-07 15:20] 0xean commented on #1103
@bernardsanislas - Looking forward to your contributions here! Would you be able to give an expected timeline for your PR? TY.

[2022-03-07 15:23] 0xean commented on #1025
@naftalimurgor - can you please let us know a timeline for a PR on this one? TY!

[2022-03-07 15:27] 0xean commented on #1083
closed in #1107

[2022-03-07 15:27] #1083 closed

[2022-03-07 15:27] naftalimurgor commented on #921
@0xean - Thanks. I'm thinking of submitting a PR in 5 days' time. Will submit a WIP PR as soon as I make progress on the changes am working on.

[2022-03-07 15:34] 0xean opened #1141 "test"
### Overview

a

### Reference

b

### Acceptance Criteria

c

### Screenshots/Mockups

d

### Ownership

- [X] If my bounty needs engineering or needs product I have added the respective labels on the right
- [X] As the sponsor of this bounty I will review the changes in a preview environment (ops/product) or review the PR (engineering)

[2022-03-07 15:35] #1141 closed

[2022-03-07 15:39] Bernardstanislas commented on #1103
I think I'll be able to send you a first draft by the end of the week if that suits you?

[2022-03-07 16:29] #1136 closed

[2022-03-07 17:00] 0xean opened #1143 "test"
### Overview

a

### Reference

b

### Acceptance Criteria

c

### Screenshots/Mockups

d

### Ownership

- [X] If my bounty needs engineering or needs product I have added the respective labels on the right
- [X] As the sponsor of this bounty I will review the changes in a preview environment (ops/product) or review the PR (engineering)

### Bounty Hunters

- [Join our discord](https://discord.gg

[2022-03-07 17:19] naftalimurgor commented on #1025
@0xean I will submit a PR immediately after I'm done with this. TY

[2022-03-07 18:11] #656 closed

[2022-03-07 18:30] 0xean commented on #1103
Sounds great, thanks for the update.

[2022-03-07 19:39] 0xean commented on #882
closing per product

[2022-03-07 19:39] #882 closed

[2022-03-07 22:46] 0xApotheosis commented on #1103
Thanks @Bernardstanislas - please add me as a reviewer to your PR once you're ready.

[2022-03-07 23:49] 0xApotheosis opened #1148 "Refactor `fromBaseUnit` usage"
Would it make sense to accept `BigNumber.Value | null | undefined` as a value in `fromBaseUnit`?
https://github.com/shapeshift/web/blob/433be3392ff233bdaf1141f73d44fe67f68aef09/src/lib/math.ts#L6

Since we're using `bnOrZero`, IMO we should just use the same input types that it accepts:
https://github.com/shapeshift/web/blob/433be3392ff233bdaf1141f73d44fe67f68aef09/src/lib/bignumber/bignumber.ts#L

[2022-03-08 12:35] loxator commented on #720
@0xdef1cafe @0xean , I have just updated the [PR](https://github.com/shapeshift/web/pull/734) on the web-app, and the bug on our end has also been fixed in our new release. You should be able to proceed with testing it now and as always, thank you for your work!

[2022-03-08 16:48] 0xApotheosis opened #1149 "Use `Direction` to determine the to and from addresses in `TransactionContract`"
`TransactionContract` currently isn't smart about the `to` and `from` addresses when it knows the "direction" of a transaction.

@gomesalexandre: "Currently the "To" for deposit is my own ENS which is kind of weird" - fix this by dynamically selecting to and from.

[2022-03-08 16:49] #1121 closed

[2022-03-08 17:18] reallybeard opened #1150 "Add back dashboard sidebar, and adjust to make it all fit"

[2022-03-08 17:21] #967 closed

[2022-03-08 17:21] #654 closed

[2022-03-08 17:33] Bernardstanislas commented on #1103
I just started to look at the number of external calls, I am wondering about the cost of maintaining the mocks in the future.

I know [vcr](https://github.com/vcr/vcr) from the ruby world, which records external calls and then can replay them as mocks.
I searched if there was an equivalent for Cypress and I came across this https://github.com/Nanciee/cypress-autorecord

What are your thoughts abou

[2022-03-08 17:33] chxash commented on #671
will work on this one

[2022-03-08 17:44] 0xApotheosis commented on #1103
This could work @Bernardstanislas. I'll take a moment to review Cypress Autorecord, it could indeed be a better long-term approach.

Thanks for the initiative!

[2022-03-08 17:45] #1150 closed

[2022-03-08 18:50] 0xApotheosis opened #1153 "Update Cosmos (Atom) asset names to be chain specific"
Currently, both "Cosmos (Atom)" assets have the same name

<img width="310" alt="Screen Shot 2022-03-08 at 11 48 58 am" src="https://user-images.githubusercontent.com/97164662/157305070-10ee830d-dc43-4d29-afa2-3ebda45e222d.png">

This makes for a confusing UX when searching for the asset - we should include the chain name/identifier in the asset name.

[2022-03-08 20:26] con5cience opened #1154 "IPFS: Support Setting Headers"
### Overview

When operating from IPFS, the Shapeshift Web v2 application needs the ability to set request/response headers for an assortment of reasons, including but not limited to:
* Security
* Ensuring browsers and other content consumers are able to properly parse content (i.e. `Content-Type`).

### Reference

Direction:
* Use service worker to set headers.
* Service worker architecture will

[2022-03-08 20:30] con5cience opened #1155 "IPFS: Application Redirects"
### Overview

Shapeshift Web v2 needs to handle 404s with an ipfs-404.html that returns the actual index.html + a HTTP 404 response code, or a meta-direct to /index.html.

### Reference

Extra context:

Handle 404s with a `ipfs-404.html` that returns `index.html` with a HTTP 404 response code, or a meta-direct to `/index.html`.

### Acceptance Criteria

Application can handle 302 or meta directs w

[2022-03-08 22:09] chxash commented on #670
will work on this one

[2022-03-09 16:21] reallybeard opened #1158 "Add portfolio percent change to dashboard"

[2022-03-09 17:05] decentralized-j commented on #1006
Adding date picker below.
![filter_date_picker](https://user-images.githubusercontent.com/97055189/157493021-faefa1a7-5e6e-4289-9aa2-277c4fb78810.png)
![filter_closed](https://user-images.githubusercontent.com/97055189/157493027-2c9c5e5f-6fe3-46d4-8854-64fc97c6d3d2.png)
Only change below is using radio buttons instead of checkboxes on the day selectors.
![filter_expand](https://user-images.githubu

[2022-03-09 20:23] reallybeard opened #1160 "Implement React error boundaries around the app."
Instead of hard crashing, display an error page. Something fun, and not so end of the world.

[2022-03-10 18:08] Bernardstanislas commented on #1103
Ok @0xApotheosis this is clear to me.
Unfortunately I think I won't have time to work on this in the coming weeks, I'm sorry I hadn't planned that I would be kept busy with my current job on my free time.
Feel free to remove me from the Gitcoin plateform.
Sorry again

[2022-03-10 18:56] gomesalexandre opened #1162 "Cosmos: Wire up client with real data"
After the Cosmos back-end work is complete, we will need a separate issue to go through all the front-end tickets, remove the mocked data, and wire up components with real data instead.

Acceptation Criteria: TODO

- List front-end tickets that have been completed here

[2022-03-10 19:37] SS-FOX-McCloud opened #1163 "New Settings Modal"
### Overview

As a user, I want there to be a way to view and alter my global settings while using [app.shapeshift.com](http://app.shapeshift.com/)

**Settings Button**

*As a user, I want a button to select that will open all of my possible settings and allow me to alter them*

1. A “Settings” Button should be added at the bottom of the most lefthand panel. ([[Mockup](https://www.sketch.com/s/27b

[2022-03-10 19:53] SS-FOX-McCloud opened #1164 "Confirm Trade Modal UI/UX fix"
### Overview

Whenever the amount is too long, it breaks the line between the check box and the asset icon and the value shifts ups. (because of the wrapping onto 2 lines)

### Reference

This change will be made in web.

### Acceptance Criteria

A/C: The line in the graphic on the "Confirm Trade" Modal is straight and consistent throughout regardless of the asset, asset amount, etc.

### Screensh

[2022-03-10 20:24] naftalimurgor commented on #1164
Hi @SS-FOX-McCloud
I'd like to work on this issue having worked on a similar issue here https://github.com/FraktalNFT/dapp-frontend/pull/235

[2022-03-11 15:46] 0xApotheosis commented on #1103
Thanks for the update @Bernardstanislas, we've removed you from the bounty.

[2022-03-11 17:26] gomesalexandre commented on #962
This is superseeded by https://github.com/shapeshift/web/issues/651 - working on #651 will close this.

[2022-03-12 23:44] G0bl1nSl4y3r commented on #1025
still sending legacy tx

[2022-03-14 12:18] 0xean commented on #921
@naftalimurgor  stopped work on the PR.  We have selected @trungtin to take the next attempt.  Thanks @trungtin !

[2022-03-14 15:30] 0xean opened #1167 "a"
### Overview

a

### Reference

b

### Acceptance Criteria

c

### Need By Date

d

### Screenshots/Mockups

e

### Ownership

- [X] If my bounty needs engineering or needs product I have added the respective labels on the right
- [X] As the sponsor of this bounty I will review the changes in a preview environment (ops/product) or review the PR (engineering)

### Bounty Hunters

- [Join our discor

[2022-03-14 15:30] #1167 closed

[2022-03-14 17:00] #1158 closed

[2022-03-14 19:09] 0xApotheosis commented on #1103
@codinglittlecat I didn't have time to update the bounty description after the conversation above re: using `[cypress-autorecord](https://github.com/Nanciee/cypress-autorecord)` to auto-capture responses.

Could you please use this in your solution?

[2022-03-15 17:56] SS-FOX-McCloud opened #1174 "Render Yearn TX transfer type"
### Overview

When depositing UNI into the UNI yearn vault a user will receive yvUNI. Currently, the web app is displaying this information incorrectly. The history should show a deposit of UNI and a RECEIVE of yvUNI but we are currently displaying the yvUNI as another deposit.

### Reference

These transaction transfers are rendered by `TransactionContract.tsx`. On [this line](https://github.com/

[2022-03-15 18:10] codinglittlecat commented on #1103
@0xApotheosis , I will use `cypress-autorecord` to auto-capture.

[2022-03-15 18:21] SS-FOX-McCloud opened #1175 "Nav icons hover on smaller screen size"
### Overview

As a user, when I am viewing the web app on a smaller screen I want to be able to see what the nav icons are.  Currently, on smaller screens the icons become to small and are not readable.

The nav icons should have a hover state on smaller screens.

### Reference

Bounty hunters might find this helpful

[code]

### Acceptance Criteria

Nav icons have a tooltip on smaller desktop scr

[2022-03-15 18:29] 0xApotheosis commented on #1103
Thank you, ser.

[2022-03-15 19:11] reallybeard opened #1177 "Implement React error boundaries around the app."
Instead of hard crashing, display an error page. Something fun, and not so end of the world.

[2022-03-15 20:04] 0xApotheosis commented on #1103
@codinglittlecat some mocks are designed to exert specific behaviour in the UX, which is tested by Cypress. These mocks need to stay, and override the auto-generated mocks.

Basically, if you remove a hard coded mock and a Cypress test breaks, you'll need to keep it. The rest can go.

[2022-03-15 20:14] codinglittlecat commented on #1103
Thanks. If we use `cypress-autorecord`, we don't need to mock all data and intercepts.
I am not sure some of accpetnace of creteria is needed.
e.g.

[2022-03-15 22:14] 0xApotheosis commented on #1103
Indeed - acknowledging that the AC is a little bit off now, we'll be pragmatic about this so long as the solution meets `cypress-autorecord` best practices and is aligned with the intent of the bounty 👌

Feel free to reach out to me on Discord to chat through any clarifications or questions as you go.

[2022-03-15 22:15] ErvinDimitri commented on #1025
I had been analyzing the code and made some changes to not send legacy tx. And now I was able to send a Tx following the EIP-1559 successfully.
So for that I made the following changes:
https://github.com/shapeshift/lib/pull/439 : Added the fields that was missing
https://github.com/shapeshift/web/pull/1165 : Made some changes on params
https://github.com/shapeshift/hdwallet/pull/477 : added some

[2022-03-15 22:58] 0xdef1cafe commented on #845
https://github.com/shapeshift/web/pull/1179 this might be helpful if you want to take a look at a later date @gomesalexandre

[2022-03-15 23:35] 0xdef1cafe opened #1180 "Add block explorer link to asset pages & send/receive labels"
### Overview

It would be nice for exploration and security to be able to click a button to open erc20 tokens and contracts on etherscan.

### Reference

Depending on the designs from product, you'll probably end up implementing here

https://github.com/shapeshift/web/blob/develop/src/components/AssetHeader/AssetHeader.tsx#L58

### Acceptance Criteria

* The button displays as per mockups
* It lin

[2022-03-16 00:15] mrnerdhair opened #1181 "Send modal doesn't support EIP-1559"
The send modal doesn't plumb through the `maxFeePerGas`/`maxPriorityFeePerGas` to enable EIP-1559 TXes on wallets that support it.

[2022-03-16 01:18] Lychbot opened #1183 "No tx found using link in BTC transaction toast"
### Overview

After completing a successful send of a BTC transaction, a green transaction toast window will appear in the top right of your screen. Clicking the link immediately after the BTC send in the transaction toast will take you to an invalid explorer page because the TXID is not found yet.

Discord link: https://discord.com/channels/554694662431178782/873244924026449940/953394763602731081

[2022-03-16 16:21] mrnerdhair opened #1185 "Trades should show a warning in unusual situations"
### Overview

We want to show additional details for potentially suboptimal trades.

### References and additional details

Please ping @DiggyDiggy2 with any product clarifications required.

### Acceptance Criteria

* implemented as per mockups

### Need By Date

n/a

### Screenshots/Mockups

see below

### Ownership

- [X] If my bounty needs engineering or needs product I have added the respecti

[2022-03-16 16:40] mrnerdhair commented on #1148
IMO that's the wrong fallback. It should be more like

[code]

(And that's still questionable -- we shouldn't really ever want to render that component if the info it's supposed to be showing isn't present.)

The type for `TxDetails` should be updated to exclude error states like `txDetails.sellTx.value` being present but `txDetails.sellAsset.precision` somehow being missing. The fields in that ty

[2022-03-16 16:54] mrnerdhair commented on #902
(See shapeshift/lib#444 / shapeshift/lib#445 for that research.)

[2022-03-16 16:56] mrnerdhair commented on #895
The associated hdwallet PR is shapeshift/hdwallet#452 for reference

[2022-03-16 16:58] gomesalexandre opened #1186 "Gem - Disable sell assets with balance lower than minimum"
### Overview

As can be seen on the Gem API responses, there is a minimum supported amount per asset.

https://api.gem.co/institutions/wyre/supported_currencies
https://api.gem.co/institutions/coinify/supported_currencies

As a user, I want to know which assets I can sell depending on my balance, as well as the ones I cannot, so as not be blocked from doing so by Gem later on in the flow.

### Ref

[2022-03-16 17:02] gomesalexandre opened #1187 "Refactor fiat-ramps to be ramp-agnostic"
### Overview

The current Gem integration is tightly coupled to Gem, and we have no way to easily duplicate it for e.g Juno.

The goal of this issue is to:

- Identify all the gem-specific parts and make them fiat-ramp-agnostic
- Create the right abstractions so that the minimal amount of work can be achieved to add a new ramp. As an external contributor, I should be able to jump on the project an

[2022-03-16 20:56] mrnerdhair opened #1188 "Link to block explorer page from asset"
### Overview

The asset details page should include an explorer link to the asset if one is available. (For example, https://app.shapeshift.com/assets/eip155:1/erc20:0xc770eefad204b5180df6a14ee197d99d808ee52d should have a link somewhere to https://etherscan.io/token/0xc770eefad204b5180df6a14ee197d99d808ee52d.)

### Reference

This will require discussion with product to figure out all the places

[2022-03-17 17:39] #1006 closed

[2022-03-17 18:54] 0xdef1cafe commented on #1188
closing as duplicate of https://github.com/shapeshift/web/issues/1180

[2022-03-17 18:54] #1188 closed

[2022-03-17 19:17] 0xdef1cafe commented on #1163
@SS-FOX-McCloud this all looks really good and well specced out. @stackedq is going to take this one after his great work on the tx history page and other features.

few things that we can do to get this going right now

* we can't do the currency selection yet until we engineer a way to get historical fiat to fiat pricing for market data, i.e. we can't easily get obscure fiat pricing for assets,

[2022-03-17 19:55] 0xdef1cafe commented on #1164
reserved for @NeOMakinG

[2022-03-17 20:29] SS-FOX-McCloud commented on #973
Issue is resolved in #1163

[2022-03-17 20:29] #973 closed

[2022-03-17 20:29] SS-FOX-McCloud commented on #854
Issue is resolved in https://github.com/shapeshift/web/issues/1163

[2022-03-17 20:29] #854 closed

[2022-03-17 21:12] 0xApotheosis commented on #1174
For posterity, the Yearn parser is currently returning:

[code]

after parsing the following response from BlockBook:

[code]

[2022-03-17 22:17] 0xean commented on #1163
@stackedq - all ready for you!

[2022-03-17 22:51] 0xApotheosis commented on #1174
Bounty hunter: I'll be your technical stakeholder on this one.

[2022-03-18 09:28] #663 closed

[2022-03-18 16:22] GMSteuart commented on #1174
Starting

[2022-03-18 18:22] 0xdef1cafe commented on #1175
@SS-FOX-McCloud when you say hover - do you mean a tooltip for small screens on desktop devices? we obviously can't do a hover on mobile because it's touch based.

@reallybeard can you add any color here?

[2022-03-18 18:35] reallybeard commented on #1175
@0xdef1cafe yah tooltips when the menu item is in its compact state. On mobile we would have the drawer with full width menu items. So this is only for desktop.

I would prob switch out the Button for the IconButton component when the screen is a specific size and the isCompact prop is true. Thats the only way I can think to do this.

[2022-03-18 18:41] 0xdef1cafe commented on #1072
@0xApotheosis @kaladinlight is this something we can handle more gracefully with a parser now? utxo coins are weird.

[2022-03-18 18:49] 0xdef1cafe commented on #706
@stackedq is going to take over this and finish my linked draft PR

[2022-03-18 22:18] MBMaria opened #1209 "Amount for Fox in ETH/FOX LP stake overstated"
### Overview

When staking FOX/ETH tokens in liquidity pool from Uniswap contract, the transaction amount showing for Fox in app.shapeshift is coming up as a few billion tokens.

https://discord.com/channels/554694662431178782/954457013688082493

### References and additional details

1) Open Fox Farming - https://fox.shapeshift.com/fox-farming
2) Select ‘Get started’ on ETH-FOX V3 option.
3) Foll

[2022-03-18 23:00] 0xean commented on #934
Re-opening this back up to other bounty hunters to attempt a solution here. Good reference in the pr #1008 on the preferred solution.

[2022-03-18 23:04] 0xean commented on #934
@NeOMakinG - feel free to apply on gitcoin and i can approve you if like!

[2022-03-19 18:17] gomesalexandre commented on #651
@SS-FOX-McCloud Can we reword the acceptation criteria to state this is only for Cosmos and not Osmosis? It will make it clear to anyone reviewing that there is no Osmosis functionality expected from the PRs linked to this issue.

[2022-03-19 20:27] stackedq opened #1213 "fallback details for LP tokens"
### Overview

Currently, LP tokens are not supported in the app, causing transaction history rows to show false information about an asset.
for example, a "stake" transaction on uniV2 is shown as:

![image](https://user-images.githubusercontent.com/20498757/159137317-c8863414-62dd-4454-bbdc-e6e1411b3e97.png)

### References and additional details

fallback information should be handled in: https:/

[2022-03-19 20:31] stackedq opened #1214 "Staking/unstaking transaction rows"
### Overview

We need two extra transaction rows for "Staking" and "Unstaking" transaction types.

### References and additional details

~These rows each need a renderer in the `components/TransactionHistoryRows` directory~

Update the UniV2 parser to detect `stake` and `unstake` sig hashes.

### Acceptance Criteria

- ~The staking transaction row should have the information about the pair, fee,

[2022-03-19 20:34] stackedq commented on #1209
Closing in favor of #1213 and #1214

[2022-03-19 20:34] #1209 closed

[2022-03-21 00:07] mrnerdhair commented on #957
This will be a bit tricky, since we don't have an automated way to tell if a token's contract is safe to interact with and we can't in general trust a token's reported name and symbol. We'll have to do some thinking about the possible attack vectors and how to mitigate them.

[2022-03-21 00:45] mrnerdhair opened #1220 "Remove PUBLIC_URL from build pipelines"
Now that #958 has been resolved, PUBLIC_URL can be removed from all build pipelines. This will make the hash of `index.html` invariant across deployments, allowing development of an automatic deployment verification process.

[2022-03-21 01:42] willyogo commented on #957
Potential solution, lmk what you think @mrnerdhair :

We add a caution icon with a tooltip for tokens that aren't included in the CoinGecko/asset list that explains that the user should use caution when interacting the token.

Re: depending on symbols and names from contracts:
I've never seen a token that doesn't have a name/symbol and feel comfortable displaying whatever is in the contract, but i

[2022-03-21 01:55] mrnerdhair commented on #957
I'm less worried about missing symbols/names than malicious ones: i.e. a token might name itself "USDC" and "airdrop" itself to someone's wallet as a phishing scheme.

I expect that A UX solution (of which a caution icon might be a part) is probably part of the appropriate mitigation here. I'll need to do some thinking about what sort of risks are involved and how we can warn users of them appropr

[2022-03-21 15:24] 0xdef1cafe opened #1221 "Reserved - translations fixes"
**This is reserved for @0xf11nix - do not apply for this bounty**

### Overview

Recently, we added a bunch of non-English translation files.

These work great if there's an associated translation key in the non-English files.

As we're moving quickly and adding a lot of UI, we have a lot of missing keys in other languages.

If a key is missing, the UI is falling back to the translation key (see s

[2022-03-21 15:41] wesleygravess opened #1222 "Arrows Unaligned on TX History Page"
### Overview

When looking at the transaction history page and filtering for trades, the arrows running down the center column of the page are not aligned properly.

### References and additional details

1. go to app and log in with you wallet.
2. go to the transaction history page by clicking the truncations history tab on the left side of the screen.
3. go to the filter tab towards the center o

[2022-03-21 16:05] #655 closed

[2022-03-21 16:06] 0xdef1cafe opened #1223 "Get feature flags working nicely"

[2022-03-21 16:20] kaladinlight commented on #1072
I want to say we can accomplish this in the parser. There will need to be an additional param for change addresses so we can more intelligently "skip" parse transactions on change addresses and also take into account we are not returning these transactions anymore and therefore need to to additional math for proper accounting on the send address for the associated transaction. Down to talk more in

[2022-03-21 16:59] #1164 closed

[2022-03-21 18:11] 0xdef1cafe opened #1225 "Add feature flag menu to sidebar on localhost"
### Overview

We have a feature flag menu that can be accessed via a keyboard shortcut `alt+shift+F` (Windows/Linux) or `opt+shift+F` (macOS).

Developers frequently want to use this locally and the shortcut is useful for operations and product to use in hosted environments, but is annoying for developers locally, and we don't want this menu showing to users in production.

### Reference

* Add it

[2022-03-21 18:12] 0xdef1cafe opened #1226 "Add redux logging middleware"
### Overview

We heavily use redux for app state, but our store is so large we're crashing the redux dev tools browser extension.

We want a way to be able to dig into state changes via console logs in the browser to debug issues locally.

### Reference

Use some sort of middleware as per the docs https://redux.js.org/tutorials/fundamentals/part-4-store#middleware

### Acceptance Criteria

* Shoul

[2022-03-21 18:44] #1223 closed

[2022-03-21 18:48] cjthompson opened #1227 "Move "useAccountSpecifiers" code into global state"
### Overview

`useAccountSpecifiers` currently acts like a singleton but it's really not.

We need to change this to store the data in global state and change `useAccountSpecifiers` to use a redux selector to return the data.

### References and additional details

See `src/hooks/useAccountSpecifiers` and `src/state/portfolioSlice`

### Acceptance Criteria

AC:
* get result of `getAccountSpecifier

[2022-03-21 21:09] mrnerdhair opened #1230 "Create xpub list for official demo wallet"

[2022-03-21 23:52] gomesalexandre opened #1234 "Refactor Cosmos Send modal to use plugins modal"
Re: https://github.com/shapeshift/web/pull/1211#discussion_r831611467

In #1211, some branching was introduced to either render the existing send modal form or the cosmos send modal form depending on the current assetId (CAIP19):

https://github.com/shapeshift/web/blob/065c951d047be30ebb66471c42b3a889cbbfb03a/src/components/Modals/Send/Send.tsx#L45-L53

Going forward, we want plugins to be able to

[2022-03-22 00:20] #962 closed

[2022-03-22 15:57] #1225 closed

[2022-03-22 18:55] 0xdef1cafe opened #1239 "bug - cosmos tx history does not show symbol with fee"
note ethereum tx's show ETH next to the fee, atom tx's do not

<img width="1116" alt="image" src="https://user-images.githubusercontent.com/88504456/159554928-8c383c26-87ab-4e81-b8c5-d788e0c38c2e.png">

[2022-03-22 19:38] decentralized-j opened #1241 "Trades appearing as transactions on Tx History Page"
### Overview

When looking at the transaction history page, some trades may appear as 'transactions' instead of trades.

### References and additional details

1. Go to app and log in with you wallet
2. Go to the transaction history page by clicking the truncations history tab on the left side of the screen
3. Scroll to find a trade conducted with active wallet

Example view from a Uniswap trade -

[2022-03-22 20:17] 0xdef1cafe opened #1243 "Cosmos - feature flag - isolate staking & delegation from osmosis"

[2022-03-22 20:23] 0xdef1cafe opened #1244 "Cosmos - balance charts including staking balance"

[2022-03-22 21:10] 0xdef1cafe opened #1245 "Gem - remove feature flag"
### Overview

When product deems gem to be stable we should remove the flag from the code.

### References and additional details

Ensure it's removed from

- sample.env
- config.ts
- preferencesSlices.ts
- pr.yml
- both fleek environments
- both cloudflare environments

### Acceptance Criteria

Feature flag is entirely removed from the application code and downstream infra.

### Need By Date

TBD

[2022-03-22 21:12] 0xdef1cafe opened #1246 "bug - trade modal crashes when selecting assets"
[3:11 PM] wesley graves: when the cosmos flag is on, clicking on an input or output asset in the trade modal crashes the site to a white page

[2022-03-22 21:21] 0xdef1cafe commented on #1241
@0xApotheosis can you get this bountied please? it even includes clickable tx's 😆

[2022-03-22 21:23] 0xdef1cafe opened #1247 "Missing translation key"
### Overview

There is a missing translation key on the terms of service and privacy policy causing a console error in the browser.

### References and additional details

Console error

[code]

### Acceptance Criteria

- the console error doesn't appear on privacy policy or terms of service page
- the translation is added to messages-en.json

### Need By Date

n/a

### Screenshots/Mockups

n/a

#

[2022-03-22 22:11] 0xdef1cafe opened #1249 "bug - eth/btc/cosmos tx links broken"
see conversation here

https://discord.com/channels/554694662431178782/955559675292708895/955942949848510464

[2022-03-22 22:25] 0xApotheosis commented on #1241
Response from `unchained` parser:

[code]

[2022-03-22 22:31] 0xdef1cafe opened #1252 "Settings modal - balance threshold"
### Overview

Carrying on from https://github.com/shapeshift/web/issues/1163 - just implement the balance threshold

### References and additional details

- create a new selector that respects the balance threshold to be used by the charts here https://github.com/shapeshift/web/blob/develop/src/hooks/useBalanceChartData/useBalanceChartData.ts#L290
- also create a new selector for portfolio total

[2022-03-22 22:41] 0xean commented on #1252
reserved for @stackedq

[2022-03-22 22:56] cjthompson commented on #1246
I agree that it shouldn't crash but it's not clear what the expected behavior should be since we don't support trading of any cosmos assets.

This is one reason why, I feel, we need to move away from a single all-in-one trade modal.

Regardless, what's the expected behavior? How do we filter out assets that we can't trade?

[2022-03-23 02:34] 0xApotheosis opened #1256 "Post new Discussions as a message in Discord"
### Overview

We've started using [GitHub Discussions](https://github.com/shapeshift/web/discussions) to persist important conversations and discussions.

We'd like to improve the visibility of new discussions by posting a message in our [ShapeShift Discord server](https://discord.com/invite/shapeshift) when they are created.

### References and additional details

GitHub has hooks for new Discuss

[2022-03-23 10:45] #1249 closed

[2022-03-23 13:45] vividwood opened #1259 "Assets price chart shows wrong/missing price percent change"
### Overview

Assets page (e.g. `/assets/eip155:1/slip44:60`) shows wrong/missing price percent change.

### Screenshots/Mockups

![image](https://user-images.githubusercontent.com/101632255/159713580-e140e94f-9cdb-4bdc-be5e-4bf9c4df17f9.png)

![image](https://user-images.githubusercontent.com/101632255/159713669-37ec84b1-5a78-49cd-9ab8-176c01f263cd.png)

[2022-03-23 15:19] 0xdef1cafe opened #1262 "Metamask doesn't reconnect when locked"
### Overview

Wallets automatically reconnect on page refresh if they're unlocked. MetaMask will become locked and require a password after some period of time. If MetaMask is in this state, we spin forever and never notify the user to unlock MetaMask.

### References and additional details

See the video for reproduction steps

https://user-images.githubusercontent.com/88504456/159733073-769b573e

[2022-03-23 16:02] 0xdef1cafe commented on #1246
fixed in prod 3/22

[2022-03-23 16:02] #1246 closed

[2022-03-23 16:43] #1239 closed

[2022-03-23 17:02] #1259 closed

[2022-03-23 17:18] wesleygravess opened #1263 "White Screen Refreshing on Asset/Accounts Page"
### Overview

refreshing on the accounts and asset page crashes the site to a white screen

### References and additional details

1. go to app.shapeshift and log in with you desired wallet.
2. click on an asset to arrive on the asset page, or click on the account tab on the left hand side of the page.
3. Refresh the asset page or account page.
4. Noticed the site crashes to a white screen and the

[2022-03-23 17:41] theoboldfrazier opened #1264 "UI - Create widget that shows current staked positions and their metadata."
See mockups in https://projects.invisionapp.com/share/4712GLFPEPKY#/screens/464893193

[2022-03-23 18:33] gomesalexandre opened #1266 "Cosmos: Modals Design - Refactor"
### Overview

Currently, we are using the old designs for the modals
https://projects.invisionapp.com/d/main#/console/21828620/462326312/preview

The design we should be using is the new one, with some flows and layout differences: https://projects.invisionapp.com/share/4712GLFPEPKY#/screens/464893178

### Acceptance Criteria

- The elements in the modals are positioned as per the new design
- The

[2022-03-23 19:07] gomesalexandre opened #1267 "Cosmos: Staking Opportunities - Bonded/Unbonded/Unbonding State"
### Overview

In https://github.com/shapeshift/web/pull/896 , a `<StakingOpportunities />` component was created, which represents a staking opportunity for one validator.

This issue is the second step in implementing https://github.com/shapeshift/web/issues/657 and should close it (**if it is wired up**)

`<StakingOpportunities />` should also handle the state where there is/are some bonding(s)

[2022-03-23 20:28] gomesalexandre commented on #1266
@0xean This is ready to be bountied and should be reserved to @NeOMakinG, let me know if there's anything else you need. Estimated time should be 6 hours, there are tricky some logic bits involved but I take ownership in making sure these are not a blocker by making myself available for pair-programming if needed.

[2022-03-23 21:08] 0xApotheosis commented on #1149
@reallybeard should have a fix for this soon as part of some UI work in flight.

[2022-03-23 21:14] DiggyDiggy2 commented on #1180
1. Lets make this generic for any asset type.
2. With this ticket lets also bring back "send" "receive" labels on the send receive icons for the web view

[2022-03-23 21:18] DiggyDiggy2 commented on #1262
1. when theres a spinner add loading text that says "wallet locked"
2. make sure the arrow is still visible so the user can switch. etc.
@reallybeard add implementation details please

[2022-03-23 21:21] reallybeard commented on #1262
Turn the wallet button into a button group, move the dropdown arrow into its own IconButton. That way when the wallet button is in a loading state you can still expand the menu.

[2022-03-23 23:26] 0xean commented on #1247
Thanks @nejos97 - payment is on it's way!!!

[2022-03-24 13:16] tolltalcrypto opened #1272 "Net Worth Balance Displaying Incorrectly on DeFi Page"
On App.Shapeshift.Com, on the "DeFi" tab, the "Net Worth" amount being displayed incorrectly. It is taking into account the yearn vault assets twice into the math. yearn vault (yv) assets are included in the wallet balance already and then also the earn balance is being added to the wallet balance.

Steps to reproduce
1. connect a wallet with some yearn vault assets in it
2. go to the DeFi page, a

[2022-03-24 15:46] DiggyDiggy2 commented on #1222
@reallybeard is redoing the layout on this anyway, so we can close this.

[2022-03-24 15:46] #1222 closed

[2022-03-24 16:01] 0xdef1cafe opened #1273 "bug - cosmos display as both account and token"
![image](https://user-images.githubusercontent.com/88504456/159958788-f59d0e89-f407-409d-8c8b-115188cdd3e4.png)

is this acceptable to fix in staking + delegation remaining work so we can ship cosmos base?

[2022-03-24 16:13] 0xdef1cafe commented on #1153
closed in https://github.com/shapeshift/lib/pull/477

[2022-03-24 16:13] #1153 closed

[2022-03-24 16:16] DiggyDiggy2 commented on #1183
Delay the toast until there is a TXID, because it's not considered successful until we have one.

[2022-03-24 17:57] wesleygravess opened #1280 "Trademax error when attempting to make a max ETH trade in the trade widget."
### Overview

getting an error when attempting to make a max ETH trade in the trade widget. keep key and native have the error, "An error occurred getting a quote for your trade." MetaMask and Portis are getting the error , "Not enough ETH to cover gas."

### References and additional details

1. go to app.shapeshift or https://2f6f7ed6.web-29e.pages.dev/
2. log in with your mm, kk, portis, or nat

[2022-03-24 19:00] reallybeard opened #1282 "Remove the need to pass down the route prop in the layout components"

[2022-03-24 19:02] #1163 closed

[2022-03-24 20:04] #1226 closed

[2022-03-24 20:51] 0xdef1cafe opened #1287 "Trade widget wrong error message initial state"
### Overview

We made some changes yesterday that have broken a cypress test related to the trade widget state on the dashboard.

The initial label on the button should be `Loading...` or similar, not `Not enough ETH to cover gas`

### References and additional details

You can run `yarn test:cypress:headless` locally to run the Cypress tests.

[code]

### Acceptance Criteria

* Figure out how to

[2022-03-24 21:25] wesleygravess opened #1289 "accounts page sorting assets incorrectly"
### Overview

assets on accounts page are being sorted by fiat value instead of being grouped by asset type and sorted within their respected groups. causing cosmos to show up in between the different btc address types.

### References and additional details

1. go to app.shapeshift.com
2. log in with native wallet.
3. turn on the cosmos feature flag
4. click on the accounts tab on the dashboard
5

[2022-03-24 21:34] #1221 closed

[2022-03-24 21:36] 0xApotheosis commented on #1287
I think the issue is actually that in `getTranslationKey` we are early exiting on condition `isValid && !hasValidTradeBalance`, impliying that `hasValidTradeBalance` is `false` when it shouldn't be.

Cypress waits for the correct value to resolve (in this case, `Not enough ETH to cover gas`), so I don't think it's related to the inital value.

[2022-03-24 23:12] MBMaria opened #1291 "Overview and Tx tab options not showing on ATOM asset page"
### Overview

When selecting ATOM from the asset page, there are is no option for the overview or transaction tabs like there is for other ETH/ERC-20 and BTC assets. When selecting it from the accounts menu however, the option for overview or tx tabs is available.

### References and additional details

1) Open app.shapeshift.com and log into Native wallet.
2) Turn on the cosmos testing flag.
3) F

[2022-03-24 23:44] 0xdef1cafe opened #1293 "Fix log spew"
### Overview

**Reserved for @0xf11nix - do not apply for this bounty**

We have a bunch of log spew in CI from jest and it's heaps gross aye.

### References and additional details

Check an existing CI run for an example

https://github.com/shapeshift/web/runs/5681039565?check_suite_focus=true

### Acceptance Criteria

* `yarn test` runs without any rank log spew

### Need By Date

N/A

### Scre

[2022-03-25 01:20] 0xdef1cafe opened #1295 "Tx loading status"
### Overview

Now that we have a tx history loading status in the store, we can consume this in a variety of places in the UI to show better messages around transaction history.

### References and additional details

https://github.com/shapeshift/web/blob/develop/src/state/slices/txHistorySlice/selectors.ts#L16

### Acceptance Criteria

- Requires product, but all places that display transaction

[2022-03-25 01:26] 0xdef1cafe opened #1296 "bug - balance charts are wrong"
![image](https://user-images.githubusercontent.com/88504456/160036631-5774f5fb-591d-4535-8a10-38a1d7b9ada6.png)

<img width="871" alt="image" src="https://user-images.githubusercontent.com/88504456/160036656-bea8d7d8-dad4-443f-aa3b-747f431dec79.png">

[2022-03-25 03:41] 0xApotheosis commented on #1287
I think the value that Cypress resolves should really be `Insufficient Funds`, which is what the (failing) tests were showing when this issue was created.

Interestingly, updating the axios package to `0.26.1` appears to have "fixed" this logic (`getTranslationKey` started returning a value that made more sense_

[2022-03-25 04:04] #1287 closed

[2022-03-25 04:58] Lychbot opened #1300 "Cant UNlock a locked KeepKey"
### Overview

When a connected KK is LOCKED after leaving it idle for a couple of minutes, the continue button on the Enter PIN modal is unclickable

Discord link: https://discord.com/channels/554694662431178782/873244924026449940/956777551848681485

### References and additional details

Recreation steps:
1. Connect KK to app.shapeshift.com
2. Leave the KK connected until it is LOCKED
3. Initiate

[2022-03-25 05:39] Lychbot opened #1301 "Enter password is autofilled in Native wallet"
### Overview

When disconnecting and connecting Native wallet back, the password is autofilled

Discord Link: https://discord.com/channels/554694662431178782/873244924026449940/956786370184085504

### References and additional details

Recreation steps:
1. Connect Native wallet to app.shapeshift.com
2. Disconnect wallet on the dropdown option
3. Connect to the same saved Native wallet and enter pa

[2022-03-25 12:56] gomesalexandre commented on #1183
This might be useful for it: https://github.com/shapeshift/web/pull/1179

[2022-03-25 16:06] mrnerdhair commented on #1301
Fixed by #1286.

[2022-03-25 16:06] #1301 closed

[2022-03-25 16:16] #1296 closed

[2022-03-25 17:03] #1289 closed

[2022-03-25 17:12] #1273 closed

[2022-03-25 17:45] mrnerdhair opened #1308 "IPFS: Switch to hash routing"
IPFS can't gracefully handle redirecting arbitrary paths to a single-page app, so we'll need to swap from `BrowserRouter` to `HashRouter` to fully support deep links.

[2022-03-25 18:08] #1175 closed

[2022-03-25 18:44] #1282 closed

[2022-03-25 18:55] 0xdef1cafe opened #1309 "Show app updated toast when env vars change"
### Overview

Currently, we have some code that polls the app manifest to see if the application code has changed, and displays a notification that the app has updated and a button to refresh the page.

Now that we have home grown feature flags in prod, we're able to change environment variables and redeploy the app via Cloudflare to turn on new features for users.

This doesn't cause an applicati

[2022-03-25 19:22] #934 closed

[2022-03-25 19:29] 0xdef1cafe commented on #1291
doesn't require product input - make it the same as ethereum based assets

[2022-03-25 19:54] #1241 closed

[2022-03-25 20:04] #643 closed

[2022-03-25 20:07] 0xean commented on #645
figment doesn't support gRPC so will leverage unchained nodes.

[2022-03-25 20:07] #645 closed

[2022-03-25 20:09] #649 closed

[2022-03-25 20:09] #651 closed

[2022-03-25 20:10] #652 closed

[2022-03-25 20:12] 0xean commented on #720
Currently blocked until ~4/8 pending gas api discussions.

[2022-03-25 20:14] 0xean commented on #792
@0xdef1cafe - to try and move this forward next week

[2022-03-25 20:15] 0xean commented on #845
@stackedq - are you interested in picking this one up? will get a bounty posted if you are!

[2022-03-25 20:17] 0xean commented on #895
Pending a HD wallet release, this is ready for work to begin in web. @0xdef1cafe - to bounty out.

[2022-03-25 20:17] stackedq commented on #845
Definitely!

[2022-03-25 20:17] 0xean commented on #895
@0xf11nix - any interest in this one? We can get a bounty for you if so

[2022-03-25 20:18] 0xean commented on #902
Closing since we have narrowed in on the work and at this point it's more iplmentation than spiking.

[2022-03-25 20:18] #902 closed

[2022-03-25 20:23] 0xean commented on #923
We need information on sendgrid domains via axiom to move forward with this.

@con5cience - can you review the PR from reid in croixdrinkers
@mrnerdhair - to dig into axiom / sendgrid domains.

[2022-03-25 20:25] 0xean commented on #940
@gomesalexandre - to handle it at some point, low priority.

[2022-03-25 20:27] 0xean commented on #949
#1103

[2022-03-25 20:28] 0xean commented on #957
@cjthompson - to discuss making the asset service dynamic

[2022-03-25 20:32] 0xean commented on #1024
- Modify headers.js to break apart header length
- Validating:
  - _headers in prod build should be manually checked
  - PR will build and we can check headers in the preview environment to confirm

[2022-03-25 20:32] 0xean commented on #1024
~ 2 hours

[2022-03-25 20:33] mrnerdhair commented on #923
Ref: https://github.com/shapeshift/security/issues/31

[2022-03-25 20:37] 0xean commented on #1025
https://github.com/shapeshift/web/pull/1215

[2022-03-25 20:38] #1057 closed

[2022-03-25 20:42] 0xean commented on #1085
- grep entire codebase for 18 and replace.
-

[2022-03-25 20:46] #1129 closed

[2022-03-25 20:48] #1162 closed

[2022-03-25 20:49] 0xean commented on #1177
https://github.com/shapeshift/web/pull/1178

[2022-03-25 20:55] 0xean commented on #1183
race condition w/ blockcypher picking up the transaction.

- add a 5 second delay (setTimeout) to showing the toast notification to enable block cypher to pick up the tx

[2022-03-25 20:58] 0xean commented on #1186
Gem has minimums like ""minimums":{"USD":5.0}}" so if you have less than 5 dollars you are unable to sell these assets via gem.

[2022-03-25 21:03] 0xean commented on #1213
@stackedq - is this a bond transaction?  We are trying to determine what parser / renders to prioritize on this one.

[2022-03-25 21:06] stackedq commented on #1213
@0xean this is an uniV2 stake transaction for eth and lp fox.

[2022-03-25 21:06] 0xean commented on #1220
- Cloudflare
- Fleek

[2022-03-25 21:07] 0xean commented on #1220
@con5cience - can you updated fleek
@0xdef1cafe - will update cloudflare

[2022-03-25 21:08] #1227 closed

[2022-03-25 21:13] 0xean commented on #1262
Bounty with @reallybeard suggestions above.

[2022-03-25 21:14] #1263 closed

[2022-03-25 21:16] 0xean opened #1313 "[NEEDS 0xdef1cafe] - create issue template!"
### Overview

do the things and add hours to bounty template.

create other big green buttons.

### References and additional details

a

### Acceptance Criteria

a

### Need By Date

_No response_

### Screenshots/Mockups

_No response_

### Ownership

- [X] If my bounty needs engineering or needs product I have added the respective labels on the right
- [X] As the sponsor of this bounty I will r

[2022-03-25 21:18] 0xean commented on #1264
@SS-FOX-McCloud

[2022-03-25 21:21] 0xean commented on #1280
4 hours

[2022-03-25 21:24] 0xean commented on #1295
@reallybeard to find existing components for this

[2022-03-25 21:28] gomesalexandre commented on #940
Looks like https://github.com/shapeshift/web/commit/860bd99e3df0cb4f6c9af9b94721db842932bc34 from @DaoDev44 fixed it, I'm not able to reproduce it anymore

[2022-03-25 21:33] #940 closed

[2022-03-25 21:33] tshifty commented on #940
Confirmed fixed. Thanks for checking @gomesalexandre

[2022-03-25 22:14] 0xf11nix commented on #895
@0xean. Sure, I'd love to take a crack at this one

[2022-03-25 22:21] NeOMakinG commented on #1264
Feel free to assign me on this one if needed

[2022-03-25 22:59] 0xdef1cafe opened #1317 "FOXy balance charts"
please don't spank me i'm a bounty hunter

![image](https://user-images.githubusercontent.com/88504456/160212652-5d8784d8-0d54-4e7e-9d9a-a45e5d5cc53a.png)

[2022-03-25 23:52] 0xApotheosis commented on #949
@0xean I'm reopening this, as it's actually a related but separate issue to https://github.com/shapeshift/web/issues/1103.

[2022-03-26 10:53] gomesalexandre commented on #1264
@theoboldfrazier looks like we've effectively created the same issue https://github.com/shapeshift/web/issues/1267 - or is this one tackling something different?

[2022-03-26 10:57] gomesalexandre commented on #1267
@chxash You might find this useful: https://github.com/shapeshift/lib/pull/491

[2022-03-26 15:55] toshiSat opened #1322 "Update Infura archive node key - April 24th Deadline"
Currently, the infura archive node key will expire on April 24th.  We need a key controlled by the DAO

[2022-03-26 17:56] toshiSat opened #1323 "Add parsers to FOXy staking calls"
This is not yet known if needed.  Creating a ticket so it doesn't get lost

Currently the stake/unstake tx's show as Transaction or Sent.

We should create a parser to identify these tx's as Stake or Unstake

[2022-03-26 21:40] 0xApotheosis opened #1325 "Cypress CI flakeyness"
Occasionally we get a timeout error when waiting for the server to start in our "Cypress run" action.

E.g. https://github.com/shapeshift/web/runs/5700642219?check_suite_focus=true

[code]

**Cypress Node version issue?**

One theory is that it is related to the Node version CI is using, Node 12, whereas locally we run it with Node 16.
This PR is currently testing this theory: https://github.com/s

[2022-03-26 21:55] 0xApotheosis opened #1326 "Can't upgrade to axios 0.26.x without breaking CI"
## Description

Upgrading axios from `0.24.x` causes non-deterministic failures in Cypress CI.

The 2 errors that occur non-deterministically are:

### 1. Error: ESOCKETTIMEDOUT

https://github.com/shapeshift/web/runs/5699857273?check_suite_focus=true

[code]

### 2. Expected to find element: `[data-test=account-row]`, but never found it.

https://github.com/shapeshift/web/runs/5700651405?check_su

[2022-03-27 15:17] toshiSat opened #1327 "Get Instant Unstak Fee from lib"

[2022-03-27 15:43] toshiSat opened #1328 "Instant Unstake Should Unstake 100%"
When Instant unstake is selected, select 100% of the FOXy tokens in the amount and disable both the input and percentage buttons

[2022-03-27 21:23] decentralized-j commented on #1213
gm all! some guidance from product on how to handle this below.

When we have an unsupported asset (like an LP), default to 'N/A' in place of the name.

Also noting the use of a greyed out Fox logo (should already be in use) for an unsupported asset logo.

please let me know if any further items are necessary to complete this. ty sers @stackedq @0xean

[2022-03-27 22:31] 0xApotheosis commented on #1256
@0xean there will be no PR for this one, but I'd consider the AC to now have been met by @trungtin 👌

[2022-03-27 22:31] #1256 closed

[2022-03-27 22:32] 0xApotheosis commented on #1300
I have a fix for this in my KeepKey settings PR that's coming through shortly 👌

[2022-03-27 23:36] #1325 closed

[2022-03-28 17:22] #1177 closed

[2022-03-28 18:44] decentralized-j commented on #1186
Gm sers! Spoke with UX master Diggy and beard and agreed upon a path forward.

@gomesalexandre - If a user selects an asset they have less than $5 of we'd like display 'Minimum amount to sell $5' above a greyed out 'continue' button.

Please let me know if mockups are needed or let me know if anything within that description doesn't make sense.

And gomes, a tip from beard - "use the chakra Alert

[2022-03-28 18:49] decentralized-j opened #1336 "Contract approvals appearing as transactions on Tx history page"
### Overview

When looking at the transaction history page, contract approvals appear as 'transactions' instead of as an 'approval' for a specific asset.

### References and additional details

1. Go to app and log in with you wallet
2. Go to the transaction history page by clicking the truncations history tab on the left side of the screen
3. Scroll to find a contract approval conducted with acti

[2022-03-29 14:46] #1317 closed

[2022-03-29 14:54] notatooyou opened #1343 "Josh Test"
### Overview

test

### References and additional details

test

### Acceptance Criteria

test

### Need By Date

_No response_

### Screenshots/Mockups

_No response_

### Ownership

- [X] If my bounty needs engineering or needs product I have added the respective labels on the right
- [X] As the sponsor of this bounty I will review the changes in a preview environment (ops/product) or review the

[2022-03-29 16:29] #1293 closed

[2022-03-29 17:37] mrnerdhair commented on #957
Been thinking about this a bit more. I think that automatically-detected tokens are more likely to be risky than manually-imported ones, but they shouldn't be considered second-class citizens in the UI just because we detected them. I think the appropriate UX solution might be to ask the user if they want to add the automatically-detected token to their asset list, after which we'd handle it in th

[2022-03-29 18:48] DiggyDiggy2 commented on #1185
Let's show Price Impact always on the trade modal, as seen in these mock ups. Over 15% it should show Price Impact Too Hig
<img width="1017" alt="Screen Shot 2022-03-29 at 12 46 58 PM" src="https://user-images.githubusercontent.com/90058616/160683470-50fa733d-2466-4bbd-9ba8-d8a8747daacf.png">
h

[2022-03-29 18:50] DiggyDiggy2 commented on #1185
When the gas fee exceeds 5% of the trade value, on the confirm screen we should show an error "Gas Fee exceeds X% of trade amount
<img width="700" alt="Screen Shot 2022-03-29 at 12 50 17 PM" src="https://user-images.githubusercontent.com/90058616/160683818-0c4abcd4-47d9-4f23-956a-8c4f710a9401.png">
"

[2022-03-29 19:12] #1291 closed

[2022-03-29 20:21] notatooyou commented on #1343
Just a test, so closing.

[2022-03-29 20:21] #1343 closed

[2022-03-29 22:06] DiggyDiggy2 commented on #1180
1. Lets bring back the "send" and "receive" labels to the icons — to better help users find them.
2. Let's add this lovely "view on chain" link next to them
3. (please use existing styles
<img width="569" alt="Screen Shot 2022-03-29 at 4 04 57 PM" src="https://user-images.githubusercontent.com/90058616/160714953-7861e8aa-6335-4b97-bc14-b6a57b3ceccf.png">
)

[2022-03-29 23:49] 0xdef1cafe opened #1349 "Add open issues to ShapeShift Dashboard"
### Overview

* put it in web
* cron job - every hour
* manual button - on demand
* pull open issues from web/lib/unchained/hdwallet/docs
* add them to the project
* nothing fancier required with automation (yet)
* https://github.com/orgs/shapeshift/people/shapeshift-ci-bot

### References and additional details

how to fetch open issues and add them to project

note this was buggy, if i ran it mu

[2022-03-30 01:51] 0xApotheosis commented on #1349
Handy links:

1. https://docs.github.com/en/issues/trying-out-the-new-projects-experience/about-projects
2. https://jasonet.co/posts/scheduled-actions/

[2022-03-30 14:41] Neverwas-dev opened #1351 "Bug - Correct Console Error for HttpRequest to https://raw.githack.com/trustwallet/assets/master/blockchains/ethereum/tokenlist.json'"
- Brief description
Access to XMLHttpRequest at 'https://raw.githack.com/trustwallet/assets/master/blockchains/ethereum/tokenlist.json' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Resource is providing a 404 error for the url

- Steps to recreate (detail)
1. Launch app.shapeshift.com
2. Check web console for the error code

- Scree

[2022-03-30 22:34] #1328 closed

[2022-03-31 00:49] 0xApotheosis commented on #1174
Closed by https://github.com/shapeshift/web/pull/1217

[2022-03-31 00:49] #1174 closed

[2022-03-31 03:44] 0xApotheosis commented on #949
@GMSteuart is keen to bring this home 🤙

[2022-03-31 09:20] 0xApotheosis commented on #1149
Closed by https://github.com/shapeshift/web/pull/1307

[2022-03-31 09:20] #1149 closed

[2022-03-31 14:03] #1266 closed

[2022-03-31 17:58] #1252 closed

[2022-03-31 19:43] 0xean commented on #1252
@stackedq - can you submit work on Gitcoin and I can get this paid out to you!

[2022-03-31 22:11] tshifty opened #1363 "WETH balance charts wrong"
### Overview

Not sure where we are grabbing the data points to make up the percentage seen in the below image. Is this because we don't have balances zero'd out from before the wallet was created?

### References and additional details

![ShapeShiftdashboard%](https://user-images.githubusercontent.com/94189400/161157471-dae8f70d-2ff8-4340-ae54-8fa61b437c98.jpg)

### Acceptance Criteria

User perc

[2022-03-31 23:56] pbteja1998 commented on #1262
Hey @0xean,

Unfortunately I won't be able to dedicate time to this bounty at the moment.

I used `Stop Work` on Gitcoin for this bounty so that others would be able to work on it.

Thanks.

[2022-04-01 16:00] decentralized-j commented on #1245
Gm @0xdef1cafe! Product is good to remove the Gem feature flag! Please let us know if anything is needed on our end

[2022-04-01 21:14] wesleygravess opened #1374 "pending vault transactions provide invalid tx id link"
### Overview

when clicking on the tx id of a pending deposit or withdraw of a stake, it brings your back to the dashboard and does not take you to the proper etherscan link.

### References and additional details

1. go to app.shapeshift or https://341a0035.web-29e.pages.dev/
2. log in with keepkey, native, mm, or portis.
3. click on the defi tab on the left hand side of the screen and choose a v

[2022-04-04 10:39] stackedq opened #1376 "Ethereum on Portis account specifier - different character casing"
### Overview

Ethereum address on Portis wallet contains both lower and upper case characters in some places but only lower case characters in some other ones. This leads to some errors in which an account couldn't be matched.
accountSepecifier in a TxId is different from `accountSpecifiers` in the redux state.

### References and additional details

Probably related to logic inside of this hook:

[2022-04-04 20:54] #1295 closed

[2022-04-04 20:56] cjthompson commented on #1243
I removed the Osmosis Chain Adapter code from the Cosmos plugin. When we need it, should make a Osmosis plugin that registers the Osmosis Chain Adatper.

[2022-04-04 20:56] #1243 closed

[2022-04-04 21:24] MBMaria opened #1380 "Trade bug - not enough ETH to cover gas"
### Overview

When connected to MetaMask on mobile any trade from ETH to ERC-20 comes up with an error "not enough ETH to cover gas"

### References and additional details

* Attempt to trade ETH for any ERC-20 asset and notice the error of “Not enough ETH to cover gas”

![image](https://user-images.githubusercontent.com/100157997/161634483-3b417602-c0b9-461d-9ed9-ef03d6c33e00.png)

### Acceptance

[2022-04-04 21:26] gomesalexandre commented on #1187
@0xean assigning `needs bounty` label to this one as we will need it as groundwork for the Juno support (cc @DiggyDiggy2 @decentralized-j)

[2022-04-04 21:30] MBMaria opened #1381 "Deposit Modal on the DeFi page in mobile looks a bit messy"
### Overview

When staking an asset in the Yearn Vault on mobile, the modal pop out is larger than the screen so you can't see the whole modal in one go. When moving the modal across, the screen behind can be seen in certain parts and it makes it hard to read

### References and additional details

1) Open app.shapeshift in mobile (using PR release https://7b79acc7.web-29e.pages.dev/ )
2) Connect

[2022-04-04 22:47] 0xean commented on #1187
👍  - will get a bounty posted.  Don't forget to add them to the dashboard when they are ready. Will do that for this one now. Thanks!

[2022-04-05 00:09] #1244 closed

[2022-04-05 05:36] stackedq commented on #1380
This is probably not related to ios or even Metamask, because I'm going through the same thing with Portis wallet connected, both on chrome and safari desktop on the macOS.

[2022-04-05 07:06] NeOMakinG commented on #1381
I'll apply on this one when it's out

[2022-04-05 15:53] reallybeard commented on #1381
@NeOMakinG
I'm gonna pick this up, since its part of the FOXY stuff.. and I borked it. Much appreciated though!

[2022-04-05 16:45] SS-FOX-McCloud opened #1385 "Create Osmosis feature flags"
Create Osmosis feature flag for just transfers

Staking and delegation behind its own feature flag

Trading feature flag as well

LP should be its own Feature flag

Create feature flag for token bonding/unbonding

[2022-04-05 16:45] SS-FOX-McCloud opened #1386 "Hook up Osmos chain adapters (transfers only)"

[2022-04-05 18:41] 0xean opened #1387 "Refactor fiat-ramps to be ramp-agnostic"
### Overview

The current Gem integration is tightly coupled to Gem, and we have no way to easily duplicate it for e.g Juno.

The goal of this issue is to:

- Identify all the gem-specific parts and make them fiat-ramp-agnostic
- Create the right abstractions so that the minimal amount of work can be achieved to add a new ramp. As an external contributor, I should be able to jump on the project an

[2022-04-05 18:41] 0xean commented on #1187
moved to #1387

[2022-04-05 18:41] #1187 closed

[2022-04-05 18:42] #1267 closed

[2022-04-05 20:01] #1381 closed

[2022-04-05 22:00] #657 closed

[2022-04-05 22:00] #664 closed

[2022-04-05 22:00] #666 closed

[2022-04-05 22:00] #667 closed

[2022-04-05 22:00] #669 closed

[2022-04-05 22:00] #670 closed

[2022-04-05 22:00] #671 closed

[2022-04-06 01:33] MBMaria opened #1392 "Asset Allocation and Staking section for Cosmos page only appears when going through the Assets page and not on Accounts page"
### Overview

When viewing Cosmos from the accounts page you cannot access the Asset Allocation or the Staking Section but it is viewable when accessing Cosmos from the asset page.

### References and additional details

1) Access app.shapeshift from development branch https://4cd99f45.web-29e.pages.dev/
2) Log into native wallet. (check CosmosInvestor flag is turned on)
3) Look up Cosmos from the

[2022-04-06 01:49] MBMaria opened #1393 "Links ( Shapeshift Validator and Shapeshift DAO) might not be working as intended"
### Overview

When going through the steps to stake Cosmos, it looks like Shapeshift Validator should be linked to a page with more info or something but when selecting it, it just open native wallet in another browser page

### References and additional details

1) Access app.shapeshift from development branch https://4cd99f45.web-29e.pages.dev/
2) Log into native wallet. (check CosmosInvestor fl

[2022-04-06 02:02] TaxiStake commented on #1393
Can probably just link here https://www.mintscan.io/cosmos/validators/cosmosvaloper199mlc7fr6ll5t54w7tts7f4s0cvnqgc59nmuxf

[2022-04-06 02:04] MBMaria opened #1394 "When staking and unstaking ATOM, entering USD doesn't work"
### Overview

When trying to stake or unstake ATOM, after selecting to trade in USD, it comes up with Insufficient Funds error when entering an amount in USD

### References and additional details

1) Access app.shapeshift from development branch https://4cd99f45.web-29e.pages.dev/
2) Log into native wallet. (check CosmosInvestor flag is turned on)
3) Look up Cosmos from the Asset page and select

[2022-04-06 03:08] Lychbot opened #1395 "Cosmos Staking/Unstaking fails if ATOM entered has more than 6 decimals"
### Overview

When doing a stake and applying the 25% you can sometimes get an amount with over 6 decimals which fails to send

### References and additional details

Recreation steps:
1. Connect any wallet to app.shapeshift.com or https://4cd99f45.web-29e.pages.dev/
2. Turn ON CosmosInvestor flag
3. Go to the Cosmos Asset page
4. Do a Stake or Unstake of ATOM
5. Trying clicking on the percentages

[2022-04-06 03:15] Lychbot opened #1396 "Staked amounts aren’t shown in the total ATOM owned in balance"
### Overview

When ATOMs are staked, total ATOM balance shown on the main dashboard page or the asset detail page doesn't include the staked amount

### References and additional details

Recreation steps:
1. Connect any wallet to app.shapeshift.com or https://4cd99f45.web-29e.pages.dev/
2. Turn ON CosmosInvestor flag
3. Go to the Cosmos Asset page
4. Stake some ATOMs
5. Notice that the ATOM balan

[2022-04-06 15:09] willyogo commented on #1393
Agree with @TaxiStake, let's link here for now @gomesalexandre: https://www.mintscan.io/cosmos/validators/cosmosvaloper199mlc7fr6ll5t54w7tts7f4s0cvnqgc59nmuxf

[2022-04-06 15:19] elmutt commented on #1396
We intentionally left that out of the charts PR because we weren't sure where it should go or what it should look like.

The acceptance criteria on that issue is weird:

"Acceptance Criteria Staked amount should be included in the Total ATOM balance, unless this is intended"

I have no idea if "this is intended". Depending how you look at it it could make sense how it is now or by combining balanc

[2022-04-06 15:56] wesleygravess opened #1400 "Switching Wallets Import Seed Issues - From any wallet to Native on mobile"
### Overview

When switching wallets on mobile (iOS and Android), from any wallet to native, attempting to import a native seed won't allow you to type in the phrase, the keyboard doesn't come up.

The same issue also occurs when switching to a Native wallet (tested from Portis) and attempting to create a new wallet - the user is unable to type the wallet name or password to continue.

### Referen

[2022-04-06 16:12] wesleygravess opened #1401 "Dark to Light Theme Issue"
### Overview

When switching from Dark to Light theme or vice versa, there are elements of the page that flash the opposite color that the page is changing to. For example, if you're going from Dark to Light mode, parts of the page will flash black.

### References and additional details

1. go to app.shapeshift.com
2. go in with your wallet of choice.
3. click on the settings tab in the bottom le

[2022-04-06 16:21] 0xean commented on #1396
@DiggyDiggy2  to look into this, and clarify expected behavior.

[2022-04-06 16:29] GMSteuart commented on #949
@0xApotheosis The [cypress-websocket-testing](https://github.com/lensesio/cypress-websocket-testing) package only adds support for mocking websocket connections and not mocking websocket responses. While there has been some additional code added to try and do some simple response mocking in the existing branch, mock responses are not resulting in ui updates. Going to take a step back from the curr

[2022-04-06 17:00] gomesalexandre opened #1402 "Cosmos opportunities should be listed in DeFi section"
### Overview

Currently, the "See All" button on top of Staking Opportunities links to the DeFi section.

However, DeFi does not currently contain Cosmos staking as opportunities.

They should be added alongside Yearn/Foxy in all places where we currently account for Yearn/Foxy (see A/C).

### References and additional details

- DeFi code lives in the `src/features/defi` namespace
- Cosmos SDK ha

[2022-04-06 17:17] DiggyDiggy2 commented on #1396
1. We should show the total combined balance (staked plus available) for the balance page and charts
2. Can we please add this little tag under the users Total Balance on the asset details screen
<img width="776" alt="Screen Shot 2022-04-06 at 11 16 25 AM" src="https://user-images.githubusercontent.com/90058616/162031318-b55cc3c7-487c-4003-acf6-736339d5fcab.png">

3. copy for the tooltip: "You can

[2022-04-06 17:19] DiggyDiggy2 commented on #1396
@elmutt - let me know if you need more info

[2022-04-06 17:28] theoboldfrazier opened #1404 "Staking balance includes unbonded stakes and allows user to go through unstake flow on already unstaked balance."
### Overview

When a user unstakes cosmos, the coins enter into an unbonded state and remain inaccessible for 21 days. Currently, the app thinks the unbonded balance is part of your staked balance. This allows the user to enter into the unstake flow with the unbonded balance and attempt to unstake them again.

### References and additional details

It might be useful to start in src/components/Del

[2022-04-06 18:28] chxash commented on #1404
I may be wrong but is this PR already fixing part of this ? (https://github.com/shapeshift/web/pull/1398/files)
In the PR description :

_"fixes the data shown as "Amount staked" in unstake (the amount that's available to unstake) which currently uses bondings total (staked + unstaked), which is wrong, since you can't unstake an already unstaked amount"_

The remaining question is should we fix wh

[2022-04-06 20:19] #1393 closed

[2022-04-06 21:15] wesleygravess opened #1406 "capital letter in seed phrase on mobile"
### Overview

On mobile, when a seed phrased is imported , an error appears if the first word starts with a capital letter. The error says that each word must be separated by a space, doesn't say anything specific about caps / no caps.

### References and additional details

1. go to app.shapeshift.com on mobile
2. click connect wallet, choose native, click import wallet.
3. type out your seed phr

[2022-04-06 22:09] #1394 closed

[2022-04-06 22:09] #1395 closed

[2022-04-06 22:09] #1404 closed

[2022-04-06 22:15] reallybeard commented on #1214
https://www.figma.com/file/OHbVrAVaV2xQWUsq0nKzGm/ShapeShift-Library?node-id=254%3A1701

[2022-04-06 22:21] DiggyDiggy2 commented on #1400
This appears to be a bug. That keyboard should slide up. Maybe something weird with that text area.

[2022-04-07 02:06] MBMaria opened #1408 "Modal confirmation when connecting or switching to KeepKey wallet does not auto close"
### Overview

When connecting or switching to KeepKey wallet, the modal that pops up to say the wallet is connected states that it will auto close shortly but it does not auto close.

### References and additional details

1) Open app.shapeshift.com and connect or switch to KeepKey
2) Notice the modal once connected does not auto close

### Acceptance Criteria

Either the modal should close automa

[2022-04-07 02:07] 0xApotheosis commented on #949
Sounds good @GMSteuart - I'm not wedded to the current implementation in any way, and I'd even caution against taking too much inspiration from it.

I'd recommend taking a holistic look at how you'd approach it from scratch.

[2022-04-07 02:42] 0xdef1cafe opened #1409 "Cosmos: need to refresh page after staking/unstaking"
When staking/unstaking/claiming in Cosmos staking modal, account/staking/unstaking balance doesn't get properly updated.

### Steps to reproduce

#### Unstaking
- Open Cosmos Staking modal
- Go to Unstake
- Unstake some amount of ATOM in a validator
- Undelegations do not get updated

#### Staking

- Open Cosmos Staking modal
- Go to Stake
- Stake some amount of ATOM in a validator
- Staked amount

[2022-04-07 03:21] 0xApotheosis opened #1411 "Add ability to recover a KeepKey from a seed"
As per spec at https://shapeshift.notion.site/Initialize-Recover-KeepKey-on-V2-15129a0c73fc4ace995191552721db69
and UI at https://www.sketch.com/s/5e6ddd00-6f97-47f5-8daa-6e20a967f4b0/p/7E2E52BC-86BF-42B9-AC2E-8864E8D32111

[2022-04-07 03:22] 0xApotheosis opened #1413 "Allow KeepKey PIN creation on initialize"
At the moment, a KeepKey can be initialized, and a PIN added post-initialization via the settings menu.

We want to include the ability to set one in the initialization flow.

As per spec at https://shapeshift.notion.site/Initialize-Recover-KeepKey-on-V2-15129a0c73fc4ace995191552721db69
and UI at https://www.sketch.com/s/5e6ddd00-6f97-47f5-8daa-6e20a967f4b0/p/7E2E52BC-86BF-42B9-AC2E-8864E8D32111

[2022-04-07 03:25] 0xApotheosis opened #1414 "Move KeepKey PIN entry when changing device PIN to settings menu"
We initially bootstrapped the existing PIN entry modals, but when changing the PIN via the menu the entry should happen inside the menu itself.

UI: https://www.sketch.com/s/5e6ddd00-6f97-47f5-8daa-6e20a967f4b0/p/7E2E52BC-86BF-42B9-AC2E-8864E8D32111
Spec: https://shapeshift.notion.site/KeepKey-Settings-86cce69e059346c0b14aa0547703465a

[2022-04-07 08:49] gomesalexandre commented on #1409
Tested locally and #1179 fixes it partially:
- Account balance gets updated after a staking, with the amount you just staked deducted from account balance. This happens when the Tx is picked by unchained (slightly before the Tx is available on Mintscan, which is expected given the optimistic nature of unchained vs. the Tx only being available in Mintscan when complete)
- Account un/staking balance

[2022-04-07 19:10] 0xdef1cafe commented on #1363
@tshifty @gomes the underyling issue here isn't actually the percentages - it's probably the balance charts not going to zero. the percentages are just current balance divided beginning balance on the chart.

did this account have a non zero balance at the beginning of this chart? do you believe that is correct?

[2022-04-07 19:17] tshifty commented on #1363
@0xdef1cafe First time this wallet received funds was 10/27/2020 so any balances before that should not exist.

[2022-04-07 19:25] #1392 closed

[2022-04-07 19:38] #1245 closed

[2022-04-07 19:41] 0xean commented on #1396
Per discord @elmutt is indeed working on this one

[2022-04-07 19:44] 0xdef1cafe opened #1425 "Remove REACT_APP_FEATURE_PLUGIN_COSMOS feature flag"
### Overview

This flag is now stable and will never be turned off and is tech debt.

### References and additional details

You know what to do here.

### Acceptance Criteria

* REACT_APP_FEATURE_PLUGIN_COSMOS doesn't appear anywhere
* ping @0xdef1cafe when this is merged so i can remove these flags from fleek/cloudflare/github

### Need By Date

n/a

### Screenshots/Mockups

n/a

### Ownership

[2022-04-07 20:56] 0xApotheosis commented on #1400
@wesleygravess to be explicit here, it looks like this issue was observed on Safari?

And was it observed on any other browsers?

[2022-04-07 21:31] tshifty opened #1429 "Organizing Staked Assets (ETH and ATOM)"
### Overview

Currently how we display transaction history to users isn't quite clear when a user is staking or unstaking assets. I think it would be great to give users more information on these transactions or at least state what these TX's are doing. Possibly add another filter for users on the Transaction History page for when users are doing taxes and make it a little easier to parse through

[2022-04-07 22:57] theoboldfrazier opened #1430 "Refactor Yearn & Foxy Deposit and withdrawal files."
### Overview

The files containing the screens for yearn/foxy deposit and withdraw are hundreds of lines long. When written originally, yearn was written in one file to meet a deadline, foxy was copy/pasted based on that pattern.

Within these files, there are a large switch cases which use the route to determine which component for the screen to display.

For this bounty, we want to split the com

[2022-04-08 00:24] decentralized-j opened #1433 "Error Handling - Not enough ETH for gas & low FOXy instant unstake liquidity"
### Overview

Gm! There are 2 error handling items combined into one ticket here.

First - When a user is depositing into a staking opportunity but doesn't have enough ETH for gas, they simply see a 'Transaction Failed' message on the confirmation screen. Desired message here is 'Not enough ETH to cover gas fee' (same as on trade modal) to provide the user with more details.

Second - If a user at

[2022-04-08 02:49] #1396 closed

[2022-04-08 07:48] NeOMakinG opened #1436 "Remove CosmosPlugin env variables on Fleek and CloudFlare"
Just a reminder so we make sure that it will be done when @0xdef1cafe comes back!

If anyone else has the right to do it, don't hesitate!

[2022-04-08 07:56] #1425 closed

[2022-04-08 14:15] elmutt commented on #1409
Is stakingDataSlice the right place to look?

I would think come through as a normal TX in txHistorySlice like all other transactions but maybe im misunderstanding

[2022-04-08 14:20] gomesalexandre commented on #1409
You're right! Just updated the A/C.
I've spiked this and synced with @NeOMakinG, the solution we will go with is reacting on the Tx messages from WS to re-fire the `stakingDataApi` query. That will trigger a store update, new selector reference and trigger a re-render on all of the UI bits that depend on it.

[2022-04-08 15:28] decentralized-j opened #1440 "3 Copy Changes - Approve, Transaction Pending, FOXy delayed withdrawal timing"
### Overview

Gm! I have combined 3 copy changes into one ticket here. Details below.

1 - On native wallet only (if possible) - When user is on token approval step, please change 'Approve on wallet' to simply say 'Approve'

2 - When a transaction is pending (across all transaction types - After user confirmation but before block confirmation), please change 'Waiting on confirmation' to 'Transacti

[2022-04-08 15:43] decentralized-j opened #1441 "2 FOXy changes - Doubling maxAttempts & disabling input box on instant unstake"
### Overview

Gm! This ticket contains 2 small changes to FOXy

1 - Double 'maxAttempts' number for approvals - this number affects how many times we poll for approvals.  Some reports from Ops were noting that the approvals 'failed' even though they went through on chain

2 - If user selects 'Instant Unstake', the amount input box should be disabled and auto populated with the 'Max' amount

### Re

[2022-04-08 15:45] theoboldfrazier commented on #1440
Great writeup, very concise.

[2022-04-08 16:01] sababa-2019 opened #1442 "Add new underlying asset row to launch FOXy modal"
### Overview

Gm!

When looking at FOXy asset details, there is no reference to it being a staked token, for easy access to the deposit and withdraw modal.

A solution for this was mocked up for Yearn, and can be seen below as the Underlying Asset box. This same functionality is desired for the FOXy asset page.

![Screen_Shot_2022-04-07_at_5 12 13_PM](https://user-images.githubusercontent.com/9705

[2022-04-08 19:21] LPX55 opened #1445 "Cosmos integration first impressions - Some suggestions and minor UI bugs"
#1439 may have fixed a few of these issues, but had a blast checking out the Cosmos integration! Major kudos to engineering 🙌

Just some minor bugs that I came across; some may already have been fixed.

![1 fw](https://user-images.githubusercontent.com/16395727/162509845-d598be1d-56ad-401a-b8d2-06386b0c474b.png)

![2 fw](https://user-images.githubusercontent.com/16395727/162509857-0157f4a9-96d5-4e

[2022-04-08 23:05] NeOMakinG commented on #1445
- ETH => FOX trade panel: We don't support trades yet
- Asset description: It comes from the `AssetService`, not linked to web, I don't really know if we can do something, maybe @gomesalexandre have an idea!
- Osmosis isn't working yet
- Modal header => Global UI decision, we need to change it everywhere in the application, for consistency (with earn, foxy), I'll not modify it except if the produc

[2022-04-09 02:12] LPX55 commented on #1445
👍

[2022-04-09 02:12] #1445 closed

[2022-04-09 03:24] LPX55 commented on #1440
Fix is ready to go on my end... decided to take it on, regardless of bounty or not as the necessary files were already open on my workspace and was a quick fix.

[2022-04-09 19:08] NeOMakinG opened #1450 "Net worth is wrong on earn page with Foxy Investor feature flag"
![image](https://user-images.githubusercontent.com/14963751/162588292-83d1e249-5054-4b41-8eed-3e6bc79080f2.png)

Wallet amount contains earn value, and both are added inside the net worth value, resulting in a doubled net worth amount

[2022-04-10 05:50] #706 closed

[2022-04-10 05:50] #740 closed

[2022-04-10 05:50] #786 closed

[2022-04-10 05:57] 0xdef1cafe commented on #1409
i commented on this yesterday on the wrong issue, so i'll follow up here instead.

i'll approve this to get cosmos out the door, but want to highlight how this stakingData slice is misguided, and needs to be removed entirely.

we now have chain specific logic, calling the same getAccount endpoint, using only a subset of the fetched data, storing it in a separate location, that doesn't describe wha

[2022-04-10 11:27] NeOMakinG commented on #1409
I guess we can close it, because of #1179

It seems to work fine atm, the only thing we should think about is the slice refactor.

[2022-04-11 01:09] 0xApotheosis opened #1453 "Determine KeepKey firmware/bootloader update process"
`web` currently gets a [JSON file](https://bafybeied24gc2ipvlxdbs4v676dwho2l5aafmngrleic3do2czdvgb546u.ipfs.dweb.link/keepKey.json) hosted on IPFS to determine if the connected KeepKey is up to date.

We need to determine the process for updating this data as KeepKey firmware/bootloader versions change.

One solution might be to put this file under version control and point to a persistent URL in

[2022-04-11 16:12] gomesalexandre opened #1454 "Cosmos: Refactor `stakingDataSlice`"
### Overview

Currently, the Cosmos staking data (rewards, delegations, undelegations) as well as validators data are living in the `src/state/slices/stakingDataSlice` folder.

We want to get rid of for the staking data that and have all the data related to staking data live on the `portfolioSlice` instead. That includes the slice itself, selectors, and tests. The validators data should be kept th

[2022-04-11 16:32] 0xdef1cafe commented on #1436
done!

[2022-04-11 16:32] #1436 closed

[2022-04-11 16:54] #1409 closed

[2022-04-11 18:57] 0xdef1cafe commented on #1220
i've updated both.

prod will be deployed as part of 4/12 release

[2022-04-11 18:57] gomesalexandre commented on #1454
@theoboldfrazier @0xdef1cafe any thoughts on also moving the validators data and considering them as portfolio accounts?
My vision on that is that from a high-level, they are tied to the portfolio accounts (one Cosmos account has a relation to one/many validators data). The default validator in the case of no active delegation might be the exception to that though, since it doesn't have a relation

[2022-04-11 19:13] 0xdef1cafe opened #1458 "Remove redundant environment variables"
### Overview

We need to remove all references to

* `REACT_APP_METAMASK_DEEPLINK_URL`
* `REACT_APP_HIDE_SPLASH`

### References and additional details

Grep the codebase, find all references, remove them.

### Acceptance Criteria

* Above environment variables have been removed everywhere
* ping @0xdef1cafe when your PR is merged to have them removed from CI/fleek/cloudflare

### Need By Date

n/

[2022-04-11 19:15] #1180 closed

[2022-04-11 19:17] #1181 closed

[2022-04-11 19:25] mrnerdhair commented on #1406
Possible alternate solution: `trim()` the string and run `toLowerCase()` on it.

[2022-04-11 19:27] mrnerdhair commented on #1400
(curious about this; dropping a comment so I'll get a notification as it progresses)

[2022-04-11 20:02] #628 closed

[2022-04-11 20:02] #1300 closed

[2022-04-11 20:26] 0xApotheosis commented on #1453
There is a CORS issue accessing the link above from `web` - it's missing appropriate access headers, so we switched to an IPFS link.

[2022-04-11 21:14] SS-FOX-McCloud opened #1460 "Update KeepKey connect modal flow"
Currently, when connecting a KeepKey to the shapeshift web app, upon successful pairing of the wallet the user is shown a success modal (pictured below).

Going forwards we want to use this modal only to show error messaging. So if the pairing is successful there should be no modal and the user should be viewing the dashboard.

If there is any issue with the pairing process this modal should pop u

[2022-04-11 22:04] 0xApotheosis opened #1461 "Cypress sometimes times out waiting on development server"
**Reserved for @GMSteuart.**

### Overview

We have an intermittent issue in our Cypress CI pipeline where occasionally the Cypress Run job will fail to start the development server.

An example of this occurring: https://github.com/shapeshift/web/runs/5965520012?check_suite_focus=true

<img width="1075" alt="Screen Shot 2022-04-12 at 7 56 03 am" src="https://user-images.githubusercontent.com/9716

[2022-04-11 22:37] #1430 closed

[2022-04-11 23:40] #1458 closed

[2022-04-11 23:41] 0xApotheosis commented on #1400
You can also "Subscribe" to issues directly in the right-side sidebar.

[2022-04-12 01:30] MBMaria opened #1462 "USD value amount not showing on ATOM stake or unstake modal"
### Overview

When staking or unstaking ATOM, the value of the asset held in the wallet is stated in ATOM but does not have the corresponding amount in USD

### References and additional details

1) Log into app.shapeshift.com
2) Connect to native wallet and turn on CosmosInvestor flag
3) Select ATOM from asset page and go to staking modal
4) Notice when choosing how much to stake, the value of AT

[2022-04-12 09:10] gomesalexandre commented on #1462
@NeOMakinG I've just checked the mockups and this wasn't part of it. Since you worked on the design refactor, I think this one should be easy for you!

[2022-04-12 09:11] NeOMakinG commented on #1462
@gomesalexandre yeah, I'll take it

[2022-04-12 16:58] SS-FOX-McCloud opened #1467 "Update wallet connection modal flow"
### Overview

Currently, when connecting a Wallet (any ShapeShift supported wallet) to the shapeshift web app, upon successful pairing of the wallet the user is shown a success modal (pictured below).

Going forwards we want to use this modal only to show error messaging. So if the pairing is successful there should be no modal and the user should be viewing the dashboard.

If there is any issue w

[2022-04-12 16:59] SS-FOX-McCloud commented on #1460
Closed for https://github.com/shapeshift/web/issues/1467

[2022-04-12 16:59] #1460 closed

[2022-04-12 17:00] DaoDev44 opened #1468 "Cosmos showing wrong Account page when navigating from Accounts List"
When navigating to a Cosmos account page from the Accounts list, Cosmos specific sections (Delegating, etc) are missing.

AC:
- When I navigate from the Accounts List to a Cosmos Account page, I should see all of the Cosmos specific sections

[2022-04-12 17:14] 0xdef1cafe opened #1469 "Pull FOXy APY from env var"
### Overview

We need to be able to update this with two clicks, rather than a lib pr and a web pr and a prod release.

### References and additional details

Add a `REACT_APP_FOXY_APY` env var that is consumed to display the APY.

### Acceptance Criteria

FOXy APY is pulled from an env var, not hard coded.

### Need By Date

n/a

### Screenshots/Mockups

_No response_

### Ownership

- [X] If my

[2022-04-12 17:48] #1462 closed

[2022-04-12 19:26] DiggyDiggy2 commented on #1408
Lets have the modal auto-close after a 5 second delay (or the user can close it)

[2022-04-12 20:40] mrnerdhair commented on #1453
Pinged @con5cience to get the CORS config on the bucket updated.

[2022-04-12 20:48] mrnerdhair commented on #1400
TIL!

[2022-04-12 21:04] gomesalexandre commented on #1408
@DiggyDiggy2 We already have a 2 seconds timeout for the auto-close on MetaMask and Portis, do we want to use the same here or change it everywhere to be 5 seconds?

[2022-04-12 21:19] #1408 closed

[2022-04-13 16:57] #1469 closed

[2022-04-13 17:16] #1468 closed

[2022-04-13 19:52] 0xdef1cafe commented on #1322
updated in fleek & cloudflare 4/13

[2022-04-13 19:52] #1322 closed

[2022-04-13 19:53] #1402 closed

[2022-04-13 21:19] DiggyDiggy2 commented on #1401
This is not necessarily a bug. The browser needs to re-render the screen so it will appear to flash.

[2022-04-13 21:21] DiggyDiggy2 commented on #1429
The solution for stake/unstake on ATOM was done. We should apply the same thing to Yearn. This might need a new ticket @SS-FOX-McCloud

[2022-04-13 21:27] DiggyDiggy2 commented on #1380
re-reviewing this. It sounds like this is just a gas estimate bug that needs addressing.

[2022-04-13 22:37] DaoDev44 opened #1483 "Swapper Refactor: Implement `getSwapperByPair` from SwapperManager in Web"
- Implement swapper manager changes made in [lib#523]() in web. (add `getSwapperByPair` into `useSwapper` hook

[2022-04-13 22:40] SS-FOX-McCloud opened #1484 "Osmosis: Hard code APR for staking and how to calculate"
Different than liquidity pools

[2022-04-14 02:57] GMSteuart commented on #1461
What an accurate statement. I've ran into many other errors while getting the local emulation going, but so far all fixable by extending the workflow configuration.

[2022-04-14 09:47] NeOMakinG commented on #1450
Duplicate of #1485 1272

[2022-04-14 09:47] #1450 closed

[2022-04-14 10:55] NeOMakinG commented on #1336
@decentralized-j

I tried to see what happens and it seems that we have no proper way to detect that these transactions are `Approvals`, the `direction` attribute is not filled, it's not directly linked to the `web` repository, probably related to the `unchained` one

[2022-04-14 16:26] #1272 closed

[2022-04-14 18:59] LPX55 commented on #1484
Not sure if this'll help in ShapeShift's case, but this is how the auto compounding tool calculates Osmosis APR

[code]

[2022-04-14 21:05] 0xApotheosis commented on #1461
Excellent, appreciate the update - look forward to seeing how you go.

[2022-04-14 21:08] #1374 closed

[2022-04-14 21:40] gomesalexandre opened #1491 "Cosmos: Missing Cosmos earn balance in DeFi "Wallet Balance""
### Overview

The wrong wallet balance is displayed in DeFi in the case of Cosmos delegations:

The number is not accounting for the Cosmos staking amount, while it is actually accounted for in "Earn Balance".

As such, when we subtract the earn balance from the "Wallet Balance" (that should be `(wallet balance + earn balance) - earn balance`) we get a wrong wallet balance, possibly negative if th

[2022-04-14 22:42] theoboldfrazier opened #1492 "Spike: find a captcha"
### Overview

We need to choose a captcha that does not add any 3rd party trackers to the site.

friendlycaptcha.com has been thrown out there,
hcaptcha

Subscription should be covered by foundation.

### References and additional details

https://www.notion.so/shapeshift/Legacy-Native-Wallet-Migration-4164af0d0ad641faaee4c32a9aad2d80#3588648cfcd340f1bd39f90b7f64b331

### Acceptance Criteria

na

[2022-04-14 22:45] theoboldfrazier opened #1493 "View: Create link and login page"
### Overview

We need a link that takes you to a login screen. This screen should live within the wallet modal.

https://www.figma.com/proto/OHbVrAVaV2xQWUsq0nKzGm/ShapeShift-Library?node-id=190%3A1488&scaling=min-zoom&page-id=175%3A1479&starting-point-node-id=190%3A1488&show-proto-sidebar=1

![Screen Shot 2022-04-14 at 16 44 08](https://user-images.githubusercontent.com/88169003/163489605-e530672

[2022-04-14 22:49] theoboldfrazier opened #1495 "Grab hashing algorithm out of mobile and implement it in webv2"
### Overview

Mobile hashes the pw before it sends it over the wire. We need to use the exact same hashing algorithm when we send the pw to the backend.

Discover the algorithm used and bring it into the webv2 login component.

### References and additional details

https://www.notion.so/shapeshift/Legacy-Native-Wallet-Migration-4164af0d0ad641faaee4c32a9aad2d80#3588648cfcd340f1bd39f90b7f64b331

##

[2022-04-14 22:52] theoboldfrazier opened #1496 "Make lib file that contains the hashing/encryption algorithm for the email/password and wallet decryption"
### Overview

We need to encrypt the email and password and send that off to the server to properly compare against the DB.

### References and additional details

https://www.notion.so/shapeshift/Legacy-Native-Wallet-Migration-4164af0d0ad641faaee4c32a9aad2d80#3588648cfcd340f1bd39f90b7f64b331

### Acceptance Criteria

* These functions are tested
* The encryption matches byte for byte what mobile

[2022-04-14 22:54] theoboldfrazier opened #1497 "Error handling: Login component"
### Overview

The following errors are expeted from the standalone server:

- Rate Limiting
- Invalid captcha
- Invalid login
- Invalid 2FA (potentially could be merged with invalid logn)

### References and additional details

https://www.notion.so/shapeshift/Legacy-Native-Wallet-Migration-4164af0d0ad641faaee4c32a9aad2d80#3588648cfcd340f1bd39f90b7f64b331

### Acceptance Criteria

* The Error resp

[2022-04-14 22:58] theoboldfrazier opened #1498 "Decrypt wallet into vault."
### Overview

Once a successful response happens, we need to create a vault with the decrypted mnemonic.

This needs to happen in a way where the plaintext mnemonic is as protected as much as possible.

Don't need to save the vault at this point, but need to create it to pass through to the name/password screen.

### References and additional details

https://www.notion.so/shapeshift/Legacy-Native

[2022-04-14 23:08] mrnerdhair commented on #1220
Deployed to prod and working.

[2022-04-14 23:08] #1220 closed

[2022-04-14 23:14] theoboldfrazier opened #1500 "Update the backup mnemonic screen to have a deprecation warning if a vault is passed in."
### Overview

The backup mnemonic screen needs to have a new message with a deprecation warning about beta / mobile.

The first mnemonic verification page needs to have a new button with "skip" that allows the user to skip backup verification and takes them to the screen to name the wallet and give it a password.
![Screen Shot 2022-04-14 at 17 08 33](https://user-images.githubusercontent.com/88169

[2022-04-15 22:36] vividwood commented on #1442
Hi @decentralized-j, maybe I misunderstood something, but I already see a box which references to staking on FOX asset page
![image](https://user-images.githubusercontent.com/101632255/163649858-20e98776-3e1b-4f99-8afc-b130899c0a6a.png)

[2022-04-15 22:45] purelycrickets commented on #1183
This does not have an estimate of hours of work.

[2022-04-15 22:46] purelycrickets commented on #1085
This needs an estimate of work hours before it can be bountied

[2022-04-15 23:01] vividwood commented on #1214
Hi, I've been doing this issue https://github.com/shapeshift/web/issues/1374 which also involve tx history, so I'm pretty familiar with this.

[2022-04-15 23:23] theoboldfrazier opened #1504 "Add a feature flag for wallet migration"
### Overview

Need a feature flag for wallet migration to hide development until feature is ready.

### References and additional details

na

### Acceptance Criteria

* a useable feature flag called REACT_APP_FEATURE_WALLET_MIGRATION is in the app.

### Need By Date

_No response_

### Screenshots/Mockups

_No response_

### Estimated effort

_No response_

[2022-04-15 23:53] #1504 closed

[2022-04-16 01:58] 0xApotheosis commented on #1442
I believe this relates to the FOXy asset page, rather than FOX. FOXy's "underlying asset" is FOX, which we want to show on the FOXy page.

[2022-04-16 02:02] #1440 closed

[2022-04-16 23:00] #1453 closed

[2022-04-17 09:50] NeOMakinG commented on #1498
I think this one should be done before https://github.com/shapeshift/web/issues/1500

It will be easier if we do it in this order, because we will know how the implementation will work with the TestPhrase screen

[2022-04-17 10:21] NeOMakinG commented on #1497
Provided a draft PR, I would need some specs about how errors will be returned, I guess the rate limit is an HTTP code, but others errors won't

[2022-04-17 16:10] NeOMakinG commented on #1467
I guess we want to keep success when we are on another action such as KeepKey recovery sentence, native wallet import or creation in order to inform the user everything went well right?

[2022-04-18 13:48] decentralized-j commented on #1336
@NeOMakinG Understood - Thank you for attempting ser. Will close this issue and revisit in the future if something changes.

[2022-04-18 13:48] #1336 closed

[2022-04-18 13:49] decentralized-j commented on #1442
Exactly correct! Thank you for clarifying ser.

[2022-04-18 15:33] willyogo commented on #960
new AC alert:
1. add a back button so users can cancel

Updated copy from product:

⚠️ Unknown Token Alert

This token was detected in your wallet, but is not on the CoinGecko list.  Therefore, we cannot verify its legitimacy.

Anyone can create a token and transfer it to your wallet. Before interacting with any token you are not expecting, be sure to research it. ShapeShift makes no representatio

[2022-04-18 15:57] 0xdef1cafe commented on #1401
as per product i'm closing this as wont fix

[2022-04-18 15:57] #1401 closed

[2022-04-18 16:48] SS-FOX-McCloud commented on #1467
@NeOMakinG Correct!

[2022-04-18 16:49] #1467 closed

[2022-04-18 17:08] 0xdef1cafe commented on #1185
@mrnerdhair can you please update this to use the bounty template - provide an hours estimate, and add the `needs bounty` label when you're done please?

[2022-04-18 17:58] DiggyDiggy2 commented on #957
![Screen_Shot_2022-04-18_at_12 57 00_PM](https://user-images.githubusercontent.com/90058616/163851992-a7b6906e-00fb-4841-96f6-347e0d04ab1b.png)

[2022-04-18 17:59] DiggyDiggy2 commented on #957
If there's multiple we'll show a little counter at the top (1 of 2) for example. When the user takes an action (import or dont import) please move them to the next token to review

[2022-04-18 21:32] #1309 closed

[2022-04-18 22:20] 0xdef1cafe commented on #1363
ok @tshifty i dug into this - the charts are not getting to a zero WETH balance at the beginning

you only have two WETH txs related to this account https://etherscan.io/token/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2?a=0xE7F92E3d5FDe63C90A917e25854826873497ef3D - and they don't sum to your current balance

etherscan is reporting a balance of 0.048045529434365311 WETH which matches unchained retu

[2022-04-18 22:20] 0xdef1cafe commented on #1363
for record the pubkey for this account is `0xE7F92E3d5FDe63C90A917e25854826873497ef3D` - @tshifty can provide the mnemonic to an another engineer upon request

[2022-04-18 22:23] 0xApotheosis opened #1514 "Remove "PIN Caching" toggle from KeepKey settings menu"
Discussed with @pastaghost and @mrnerdhair - whilst there are getter/setter functions in the firmware to change the `pin_cached` state variable, it is not actually used anywhere.

As a setting that has no effect is confusing for the user we should remove this setting from the UI.

[2022-04-18 22:24] 0xdef1cafe commented on #1363
https://github.com/shapeshift/web/tree/non-zero-charts this branch has some potentially helpful debugging

[2022-04-18 23:06] 0xdef1cafe commented on #1363
as discussed with @elmutt this needs a new ticket in unchained to write a parser than handles wrapping ETH to WETH directly

example tx that's not being handled correctly https://etherscan.io/tx/0x29ed7ad51bbc568172d3d97bc79738a921e7dc669abbf15ab5198d97cc74614b

[2022-04-18 23:21] 0xdef1cafe commented on #1072
@cjthompson @elmutt this issue, thorchain trades, and FOXy rebase events all need to be handled in the same fashion from a client perspective

we need some sort of "synthetic transaction event" (with a nicer producty name) that captures all of these things that a user cares about, but aren't strictly on chain transactions. e.g. a THORChain trade can cross chains, and we want to see both sides, a r

[2022-04-18 23:23] 0xdef1cafe commented on #957
@willyogo do you have a wallet with tokens that aren't supported by the app that we can test this on - or able to send a tiny amount to an engineer?

[2022-04-19 02:04] elmutt commented on #1363
I created this issue and will convert into a bounty tomorrow with more details:

https://github.com/shapeshift/unchained/issues/388

[2022-04-19 03:01] 0xApotheosis commented on #1214
@stackedq is this feature Cosmos specific?

[2022-04-19 07:51] stackedq commented on #1214
@0xApotheosis well, originally this issue came from staking fox LP with eth on uniV2.

[2022-04-19 08:42] #1514 closed

[2022-04-19 17:25] #1491 closed

[2022-04-19 17:26] NeOMakinG commented on #1491
I guess it's fixed by https://github.com/shapeshift/web/pull/1501 but the issue missed the `closes` keyword

[2022-04-19 18:42] NeOMakinG commented on #1400
I investigated!

Probably not the best way to fix it but it seems that the navigation `Drawer` has a focus trap, adding `trapFocus={false}` to the Drawer here fixes it: https://github.com/shapeshift/web/blob/develop/src/components/Layout/Header/Header.tsx#L94

Noticed that the `WalletViewsSwitch` [modal](https://github.com/shapeshift/web/blob/develop/src/context/WalletProvider/WalletViewsSwitch.ts

[2022-04-19 19:01] NeOMakinG commented on #1400
Pretty intelligent, how would you manage that? I guess you need to use the `useDisclosure` hook with the `Drawer` id

[2022-04-19 19:12] reallybeard commented on #1400
Let me try something out, and get back to you @NeOMakinG

[2022-04-19 21:27] 0xdef1cafe opened #1522 "Migrate to investor-foxy"
### Overview

Placeholder

### References and additional details

Placeholder

### Acceptance Criteria

Placeholder

### Need By Date

_No response_

### Screenshots/Mockups

_No response_

### Estimated effort

_No response_

[2022-04-19 21:27] 0xdef1cafe opened #1523 "Migrate to investor-yearn"
### Overview

Placeholder

### References and additional details

Placeholder

### Acceptance Criteria

Placeholder

### Need By Date

_No response_

### Screenshots/Mockups

_No response_

### Estimated effort

_No response_

[2022-04-19 21:28] 0xdef1cafe opened #1524 "Migrate cosmos to to cosmos-investor?"
### Overview

Placeholder

### References and additional details

Placeholder

### Acceptance Criteria

Placeholder

### Need By Date

_No response_

### Screenshots/Mockups

_No response_

### Estimated effort

_No response_

[2022-04-19 21:59] GMSteuart commented on #1461
@0xApotheosis The main issue with the dev server timeout occurring is that the build times from running `yarn dev` are getting increasingly long. There are two main ways to solve this: one, don't use `yarn dev` and use a split workflow with a build process and testing on the build, and two, increasing the timeout.

Additionally, there is potential that the `msw` package is also affecting timeouts.

[2022-04-20 07:34] #1400 closed

[2022-04-20 07:35] 0xApotheosis commented on #1400
Nailed it @reallybeard 🦊

[2022-04-20 16:05] tshifty opened #1527 "Max ETH to ERC-20 Trade gives out of gas error"
### Overview

When attempting to do a max ETH to ERC-20 trade on any wallet through app.shapeshift.com you get a red trade box that says "not enough ETH to cover gas". We are not correctly calculating what is put into the trade box minus what the fee that should be taken out.
![MaxETHtradeerror](https://user-images.githubusercontent.com/94189400/164273954-f91f8cd2-9095-4adc-9c89-2f5ec6793db1.jpg)

[2022-04-20 16:08] theoboldfrazier opened #1528 "Wire up migration api calls."
### Overview

We'll need an api call that sends an email and hashed password to a backend that can authenticate a user and return an encrypted wallet.

This issue is to wire up those calls in the front end.

### References and additional details

Request needs to be a post with required email and hashedPassword params and optional 2fa param

### Acceptance Criteria

* call sends an email and hashe

[2022-04-20 16:15] #1387 closed

[2022-04-20 17:09] #1497 closed

[2022-04-20 18:06] SS-FOX-McCloud opened #1531 "Organizing Staked Assets (Yearn)"
### Overview

**Overview**
Currently how we display transaction history to users isn't quite clear when a user is staking or unstaking assets. I think it would be great to give users more information on these transactions or at least state what these TX's are doing. Possibly add another filter for users on the Transaction History page for when users are doing taxes and make it a little easier to p

[2022-04-20 18:06] SS-FOX-McCloud commented on #1429
Created a new ticket just for the Yearn part.

[2022-04-20 18:06] #1429 closed

[2022-04-20 18:07] 0xean commented on #1349
1. Run locally with token
1. Create github app for actions environment
https://docs.github.com/en/issues/trying-out-the-new-projects-experience/automating-projects#example-workflow-authenticating-with-a-personal-access-token

[2022-04-20 18:34] 0xean opened #1532 "blank test"

[2022-04-20 18:38] #1532 closed

[2022-04-20 18:39] 0xean opened #1533 "Test 1"

[2022-04-20 18:39] 0xean opened #1534 "2"

[2022-04-20 18:39] 0xean opened #1535 "3"

[2022-04-20 18:40] 0xean opened #1536 "3"
testing if edit adds to dashboard

[2022-04-20 19:04] NeOMakinG commented on #1349
Some things I know because I worked on a similar project:
- The github app should be added to the organization, not the repository (to use the Project Next API)
- You can subscribe to github web sockets and receive event when issues are created, it should be way better than having a cronjob
- Great resource: https://github.com/PrestaShop/issuebot

Some ideas of automations:
- It would be cool to m

[2022-04-20 19:13] #1495 closed

[2022-04-20 19:17] cjthompson opened #1538 "Add Service Workers"
### Overview

## Draft
Add service workers to web

### References and additional details

Service Workers - Pendo/IPFS

### Acceptance Criteria

TBD

### Need By Date

_No response_

### Screenshots/Mockups

_No response_

### Estimated effort

one to two days

[2022-04-20 19:18] #1380 closed

[2022-04-20 19:19] MBMaria commented on #1380
This has been fixed

[2022-04-20 20:09] SS-FOX-McCloud opened #1540 "FOXy token displayed for FOX staking opportunity"
### Overview

Currently, when a user has staked their FOX for FOXy the opportunity in the DeFi section shows FOX token.  After a user has staked their FOX this should turn to the pink FOXy token (as the user now holds FOXy).

### References and additional details

This will be in the web code base.

Notes from engineering: the icon needs to be showing the asset for Fox Yieldy (FOXy) It can be foun

[2022-04-20 20:21] theoboldfrazier commented on #541
@0xdef1cafe Is this still an issue?

[2022-04-20 20:28] theoboldfrazier commented on #561
@tshifty Can you look into this and if no longer an issue, close this ticket.

[2022-04-20 20:29] theoboldfrazier commented on #713
@mrnerdhair Is this still an issue? Can you close if not.

[2022-04-20 20:30] mrnerdhair commented on #713
Still an issue, but backlogged to oblivion RN.

[2022-04-20 20:30] theoboldfrazier commented on #1024
@NeOMakinG Is this still an issue? Can you link a PR if this is done and close this?

[2022-04-20 20:35] theoboldfrazier commented on #1025
@purelycrickets Can you take a look into reassigning this bounty?

[2022-04-20 20:36] theoboldfrazier commented on #923
@mrnerdhair Is there any update on this issue?

[2022-04-20 20:43] 0xean commented on #792
@pastaghost / @bithighlander - can you take a look at this one at some point.

[2022-04-20 20:45] 0xean commented on #908
@gomesalexandre  to prep for bounty.

[2022-04-20 20:47] 0xean commented on #921
@0xean - needs new bounty hunter

[2022-04-20 20:49] 0xean commented on #949
@GMSteuart - can you provide an update on the status of this one? TY!

[2022-04-20 20:51] 0xean commented on #1025
@purelycrickets - close and reopen for new bounty on clean issue.

[2022-04-20 20:52] 0xean commented on #949
@GMSteuart - still working on it, modifying scope to simplify with @0xApotheosis

[2022-04-20 20:53] 0xean commented on #907
@gomesalexandre to prep for bounty.

[2022-04-20 20:54] gomesalexandre commented on #907
- Tested on prod with an asset I didn't have in my wallet before swapping and this is still happening
- Tested on prod with an asset I had in my wallet already (and now have more of) and this seems fixed

[2022-04-20 20:54] 0xean commented on #907
May have different behavior depending on if user already has asset balance.

[2022-04-20 20:55] 0xean commented on #1085
2 hours

[2022-04-20 20:56] 0xean commented on #1103
@purelycrickets - to bounty

[2022-04-20 20:57] 0xean commented on #907
confirmed only on new assets.

[2022-04-20 20:58] 0xean commented on #1148
@0xApotheosis / @gomesalexandre  to sync with @mrnerdhair on the correct path forward.

[2022-04-20 21:00] theoboldfrazier commented on #907
@gomesalexandre I'll take a look at bountying this one out, I think I have a good idea of what needs to be done.

[2022-04-20 21:01] 0xean commented on #1186
@stackedq - any interest in taking this one?

[2022-04-20 23:18] Lychbot opened #1541 "Cosmos (Balance + Staked amount) not showing when going through assets"
### Overview

When accessing Cosmos through the assets tab, balance is different and does not include the staked amount unlike going through the accounts page

### References and additional details

Recreation steps:
1. Connect a wallet to app.shapeshift.com or https://88478440.web-29e.pages.dev/
2. Go to Assets and search for Cosmos
3. Compare Cosmos balance via the asset page and accounts, notic

[2022-04-20 23:40] DiggyDiggy2 commented on #1541
the URLs are likely the reason

Through assets: https://app.shapeshift.com/#/assets/cosmos:cosmoshub-4/slip44:118

Through accounts: https://app.shapeshift.com/#/accounts/cosmos:cosmoshub-4:cosmos1f7c8p4f9q93vz37f2ecz5dq8gqlcej239veet8

[2022-04-20 23:51] gomesalexandre commented on #1541
On a related note: https://github.com/shapeshift/web/pull/1479 brings amongst other things some bugfix about inconsistent calculation of the staked amount. In the staking opportunities row, it is defined as "delegations + undelegations" whereas under the asset, the number is purely the staking which gives a different number in case the user has active undelegations.

Whoever is taking this should

[2022-04-21 07:04] NeOMakinG commented on #1024
https://github.com/shapeshift/web/pull/1360#issuecomment-1088050570

It's an issue but we can't resolve it like we thought, we can close this one I think

[2022-04-21 10:27] gomesalexandre commented on #908
https://github.com/shapeshift/web/commit/5003516946a47829218d43d8f60fa3b5bf07d15d might have fixed it.
I think you actually have to wait until the Tx is sent from the unchained Ws for the state to update accordingly everywhere, as per A/C.
Unfortunately Txs are very slow to be picked currently, so I'll try to reproduce it again later.

[2022-04-21 14:01] 0xean opened #1543 "new test"

[2022-04-21 14:04] 0xean opened #1544 "new new test"

[2022-04-21 14:08] 0xean commented on #1349
Okay, so some updates here.

Currently I did the following.

1. Created a new github app that is owned by the SS org
2.  Created an action that will add any new issue in the web repo to the board

This is working based on my tests, but doesn't quite fulfill the original AC, but does theoretically end up in the same end state where all issues are on the board (for web, can extend to other repos ver

[2022-04-21 14:10] #1536 closed

[2022-04-21 14:11] #1544 closed

[2022-04-21 14:11] #1543 closed

[2022-04-21 14:11] #1535 closed

[2022-04-21 14:11] #1534 closed

[2022-04-21 14:11] #1533 closed

[2022-04-21 14:24] 0xean commented on #1349
Per conversation with @0xdef1cafe is discord,  he is good with this approach.  Will let this run for a day or two to make sure there are no edge cases and propagate to other repos.

[2022-04-21 14:57] stackedq commented on #1186
@0xean absolutely

[2022-04-21 15:06] 0xean commented on #1186
Awesome thank you!

[2022-04-21 15:25] 0xean commented on #921
@purelycrickets to post to dework

[2022-04-21 15:25] chxash commented on #1541
Working on it

[2022-04-21 15:35] gomesalexandre commented on #1541
@chxash I was going to open a new issue for that but I think it can be tackled here at the same time as it's low effort and the same domain:
I've noticed that according to #1396, we should only display the staked amount for balance charts.
However, we also display it on the price chart:
<img width="868" alt="image" src="https://user-images.githubusercontent.com/17035424/164497212-f28057b3-a6a6-4e4

[2022-04-21 15:45] 0xdef1cafe opened #1545 "Service worker - request filtering"
### Overview

We need to be able to filter and sanitize outgoing requests for Pendo to ensure security.

Request filtering is required to implement Pendo.

### References and additional details

This is purely concerned with creating a service worker capable of running a request through some filter middleware, but is not concerned with the actually middleware/filters themselves.

### Acceptance Cr

[2022-04-21 15:46] 0xdef1cafe commented on #1154
blocked by https://github.com/shapeshift/web/issues/1545

[2022-04-21 15:47] 0xdef1cafe commented on #1155
partially solved by hash routing https://github.com/shapeshift/web/pull/1457

[2022-04-21 15:49] 0xdef1cafe commented on #1155
outstanding scope of work - add an `ipfs-404.html` page to `/public` and with an html meta redirect back to `index.html`

docs - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta

[2022-04-21 16:01] DaoDev44 opened #1546 "Refactor: Implement `filterByAssetId` Swapper Manager methods"
### Overview

After the methods for filtering assetIds by swapper are implemented in [#538](https://github.com/shapeshift/lib/issues/538), they need to be implemented inside of Web.

- `getAllSupportedAssetsBySellable` to filter all assets and return current sellable assetIds
- `getSupportedBuyAssetsFromSellId` to filter buy assetIds by a specific sell assetId

### References and additional detail

[2022-04-21 16:07] toshiSat opened #1547 "FOXy routing bug"
### Overview

if you are on overview and hit claim now, and then click deposit or withdraw you are taken to a route that doesn't exist.

Should just route to Withdraw/Deposit

### References and additional details

Need to add a default route for both deposit and withdraw

### Acceptance Criteria

Routes correctly to deposit and withdraw

### Need By Date

N/A

### Screenshots/Mockups

_No respons

[2022-04-21 18:01] #1406 closed

[2022-04-21 18:05] 0xdef1cafe commented on #1363
added bounty label as it's bountied via the related issue in unchained

[2022-04-21 18:07] SS-FOX-McCloud opened #1550 "FOX Farm CTA"
### Overview

Overview
As a user I want to be aware and be routed to the FOX farm page and all associated opportunities via the DeFi earn tab (https://app.shapeshift.com/defi/earn) on the web app. This should be done via a CTA (call to action) banner.

COPY: "Earn 60%+ APR* by farming your ETH-FOX liquidity pool tokens"

There should also be a button that says "Start Farming FOX" which will link t

[2022-04-21 18:38] 0xdef1cafe opened #1551 "Component/element tagging"
### Overview

We want to tag a bunch of components with human-readable, `data-test` tags, such that we can create guides in Pendo and use them to identify components in Cypress automated tests.

### References and additional details

The following components should be tagged appropriately. You will need to use your discretion as to what level of the component to tag at. Do not tag reusable compone

[2022-04-21 18:54] 0xdef1cafe commented on #1550
@SS-FOX-McCloud what does this look like on tablet/mobile?

[2022-04-21 18:54] 0xdef1cafe commented on #1550
nothing required here on an engineering basis, once you can clarify responsive views this can be bountied.

[2022-04-21 19:23] 0xPr0f opened #1552 "Your assets bug"
### Overview

When i log in with my wallet, it shows your assets
and then eth, but i dont have eth ?

### References and additional details

NA

### Acceptance Criteria

i think it should not show any assets there, even if it is as a place holder

### Need By Date

_No response_

### Screenshots/Mockups

<img width="818" alt="Screenshot 2022-04-21 at 8 18 32 PM" src="https://user-images.githubuser

[2022-04-21 19:26] Neverwas-dev opened #1553 "ATOM Staking widget on a stake the third step never updates"
- Brief description

When staking ATOM the staking widget displays updates during the steps, the last third step (broadcast) never updates with a check when the broadcast is finished.

- Steps to recreate
1. From the DEFI page choose Shapeshift DAO
2. Choose Stake
3. input amount and continue
4. Choose gas fee and sign & broadcast

- Screenshots/vids

![image](https://user-images.githubusercontent

[2022-04-21 19:57] #1103 closed

[2022-04-21 20:02] purelycrickets opened #1554 "Mock all Cypress requests"
### Overview

For our Cypress tests, we currently mock only the data that is required by the UI elements and flows that we actually test.

We don't, however, mock the remaining calls, which slows down our test runs.

### References and additional details

See the current mocks for [external requests](https://github.com/shapeshift/web/blob/423b94c43ec0809b3c386cb584ab2dcaeb2a2a00/cypress/support/co

[2022-04-21 20:02] purelycrickets commented on #1554
https://github.com/shapeshift/web/issues/1103

[2022-04-21 20:09] #921 closed

[2022-04-21 20:12] purelycrickets opened #1555 "Gracefully display assets without available market data"
### Overview

Continuation of https://github.com/shapeshift/web/issues/921

### References and additional details

see https://github.com/shapeshift/web/issues/921

### Acceptance Criteria

see: https://github.com/shapeshift/web/issues/921

### Need By Date

_No response_

### Screenshots/Mockups

_No response_

### Ownership

- [X] If my bounty needs engineering or needs product I have added the

[2022-04-21 20:12] purelycrickets commented on #1555
https://github.com/shapeshift/web/issues/921

[2022-04-21 20:17] purelycrickets commented on #1527
This needs a number for estimated effort.

[2022-04-21 20:48] 0xdef1cafe commented on #1264
https://github.com/shapeshift/web/issues/1267

[2022-04-21 20:48] #1264 closed

[2022-04-21 21:59] gomesalexandre commented on #908
@0xean I got the confirmation from @tshifty this is still happening currently despite the changes in https://github.com/shapeshift/web/commit/34a17854cda6a37b2dc1568f72e30b428eafd9f5
Investigated this one locally and by just reverse engineering it and without knowing the root cause, it's hard to give a time estimate to bounty it out.

Given the domain this is on, and the gas spikes currently, this

[2022-04-21 23:33] MBMaria opened #1559 "'Terms' hyperlink in Cosmos Staking Modal not working"
### Overview

When selecting 'Terms' at the bottom of the Cosmos Staking Modal, it just opens app.shapeshift in another window as opposed to taking you to the terms of the Cosmos Staking

### References and additional details

1) Open app.shapeshift.com
2) Connect to native wallet and turn CosmosInvestor flag one
3) Navigate to the Cosmos Staking Modal from either the accounts, asset or defi page

[2022-04-21 23:39] 0xean commented on #908
@gomesalexandre - greatly appreciate the update and communications here. I will post it in discord to see if anyone wants to pick it up

[2022-04-21 23:41] 0xean commented on #908
Maybe we need a label for this type of issue.

[2022-04-22 15:30] 0xdef1cafe opened #1563 "Logging strategy in web"
### Overview

Currently, we have no logging allowed in web other than `console.info`

We want a structured logging strategy so we can
* filter useful log levels in the console
* pipe log events to some cloud service for `alpha.shapeshift.com` in future

### References and additional details

* `@shapeshiftoss/logger` as a zero dependency logger is a good starting point
* Ideally should output some

[2022-04-22 17:05] #1545 closed

[2022-04-23 01:17] rokko commented on #1185
Hello, @DiggyDiggy2  @0xdef1cafe  where i can find "shock" icon and correct colors ? In next hours i'll do a PR to show some work.

[2022-04-23 02:29] MBMaria opened #1565 "Keepkey with Passphrase on an older firmware version cannot connect on app.shapeshift.com"
### Overview

After entering the pin for a KK with a passphrase on an older firmware version, it asks for the passphrase. At that point the front end hangs and the keepkey does not get past the "Waiting for Passphrase..." screen. This is due to the KK not being updated. Updating fw + bl fixes the issue

### References and additional details

1) Connect KK with Passphrase on app.shapeshift.
2) Ente

[2022-04-23 02:43] MBMaria commented on #1565
@DiggyDiggy2 how does your team want the site to handle this issue?

[2022-04-23 02:46] MBMaria commented on #1565
Closed accidently. Sorry about that.

[2022-04-23 10:51] gomesalexandre commented on #1185
Hi @rokko! You can have a look at [font-awesome icons](https://react-icons.github.io/react-icons/icons?name=fa), it's there (we import them with `react-icons/fa`).

As for colors, mockups don't always show the exact color we'll actually use for consistency reasons, we use colors from our colorscheme instead: you can look at `src/theme/colors.ts` to see our default colorschemes, and grepping for `c

[2022-04-23 11:11] rokko commented on #1185
Thank you !! 💯

[2022-04-23 13:32] 0xean commented on #1349
This has been propagated to unchained and lib, tested and working in all of them.  closing

[2022-04-23 13:32] #1349 closed

[2022-04-23 16:11] Eunoia1729 commented on #1085
Hi, can I start working on this ?
I've applied to this task on gitcoin too more than a day ago.

[2022-04-24 09:59] stackedq commented on #1376
Closing in favor of @0xdef1cafe's fix in the  #1179 PR.

[2022-04-24 09:59] #1376 closed

[2022-04-24 13:58] GMSteuart commented on #1326
@0xApotheosis There are multiple problems that were causing the upgrade to 0.26.x to fail:

- The cypress tests aren't waiting for network requests to finish (default timeout for network requests is 5s)
- The application is making more network requests than needed. I haven't looked at the implementation detail but there needs to be some form of debouncing and cancelling network requests that are n

[2022-04-24 19:34] GMSteuart commented on #1461
@0xApotheosis this is good to go as part of pull #1525

[2022-04-24 19:35] GMSteuart commented on #1326
Related issue #1461

[2022-04-24 19:36] GMSteuart commented on #1326
@0xApotheosis this is good to go as part of pull #1525

[2022-04-25 13:14] 0xean commented on #1221
@0xf11nix - can you please submit work on gitcoin so I can get this paid out? Thanks!

[2022-04-25 13:42] gomesalexandre commented on #1559
The proposed solution in PR doesn't open a new tab but instead closes the staking modal and navigates to the terms page in the same tab - that's for consistency with the current implementations. @MBMaria FYI, let me know if you'd like to change this behavior in any way.

[2022-04-25 15:49] DiggyDiggy2 commented on #1541
We should really only display it on the Balance Chart.

[2022-04-25 15:58] SS-FOX-McCloud commented on #1550
Hoff working on mobile mockup...will mark ready for bounty once completed.

[2022-04-25 16:10] gomesalexandre commented on #1491
Thanks for the housekeeping @NeOMakinG 🐐 !

[2022-04-25 16:17] gomesalexandre commented on #1541
@DiggyDiggy2 #1548 fixes it, but we're still fishing for a code owner approval on this one - I'll try to get someone to review it today

[2022-04-25 16:19] DiggyDiggy2 commented on #1553
It doesn't seem that this needs product review.

[2022-04-25 16:19] DiggyDiggy2 commented on #1553
Can we close this one since its being fixed in another ticket?

[2022-04-25 16:29] NeOMakinG commented on #1553
@DiggyDiggy2 Which ticket are you talking about? I feel lost now

[2022-04-25 17:47] SS-FOX-McCloud commented on #1550
Here is the CTA on mobile.  This should be ready for bounty now.  Please let me know if there are any other questions!

![MobileCTA](https://user-images.githubusercontent.com/57505863/165144850-1458fdd0-5cc2-40e4-9331-35312f4d2846.png)

[2022-04-25 17:54] DiggyDiggy2 commented on #1553
@NeOMakinG i thought https://github.com/shapeshift/web/pull/1562 addresses this?

[2022-04-25 17:56] DiggyDiggy2 commented on #1559
it should open a new tab

[2022-04-25 18:28] NeOMakinG commented on #1553
@DiggyDiggy2 Yes it addresses it but this is a pull request, do we validate the fact that we wants the `Broadcast` step checked like the video of the PR shows?

[2022-04-25 18:39] gomesalexandre commented on #1559
<img width="1725" alt="image" src="https://user-images.githubusercontent.com/17035424/165151567-96472732-439c-4b39-94f1-3f4966f55c83.png">

This is the behavior if opening in a new tab - given we're in the context of being connected with native wallet. We could probably monkey patch this so that we don't show the enter your password modal when in the context of the static legal pages though, but t

[2022-04-25 20:08] 0xdef1cafe opened #1570 "Delete ChainTypes and NetworkTypes enums"
### Overview

Once we've fully replaced `ChainTypes` and `NetworkTypes` with CAIP equivalents these can be removed. This epic is done when they no longer exist.

### References and additional details

https://github.com/shapeshift/lib/blob/main/packages/types/src/base.ts#L15

### Acceptance Criteria

https://github.com/shapeshift/lib/blob/main/packages/types/src/base.ts#L15 are deleted

### Need B

[2022-04-25 20:43] 0xdef1cafe opened #1571 "Remove NetworkTypes.MAINNET - break into multiple small chunks"
### Overview

Replace this with the (to be) newly created `ChainReference`

### References and additional details

Search for `NetworkTypes.MAINNET` - all of these must be removed, and become dynamic based on the context of the component that's used.

This should be done incrementally and judiciously.

### Acceptance Criteria

NetworkTypes.MAINNET

### Need By Date

_No response_

### Screenshots/

[2022-04-25 21:31] 0xdef1cafe opened #1573 "Replace usage of CAIP2 CAIP10 CAIP19 with ChainId AccountId AssetId"
### Overview

Requires https://github.com/shapeshift/lib/issues/549

Rename the uses of this types throughout the client for consistency

### References and additional details

Try and use an IDE to replace this rather than doing the grunt work manually.

### Acceptance Criteria

We don't use `CAIP2` `CAIP10` or `CAIP19` types anywhere

### Need By Date

_No response_

### Screenshots/Mockups

_No

[2022-04-26 00:25] 0xApotheosis opened #1576 "Add tests for KeepKey recovery"
At the very least there is an opportunity to add unit tests for the pure `isValidInput` function. There might be an opportunity to purify and test others, too.

---

This feature is one that could be easily broken by accident in the future by another developer. I'd like to see an attempt, at least, at some test coverage. A separate PR for that would be okay.

_Originally posted by @cjthompson in h

[2022-04-26 00:26] #1411 closed

[2022-04-26 00:26] #1413 closed

[2022-04-26 00:30] #1326 closed

[2022-04-26 00:30] #1461 closed

[2022-04-26 04:15] LPX55 commented on #895
Can we get a status update on this? Translation team has requested this feature to more easily access certain areas of the platform. @0xf11nix

[2022-04-26 09:32] 0xApotheosis commented on #1085
Hey @Eunoia1729, you've been approved - you may now start work 🔥

[2022-04-26 11:27] #1280 closed

[2022-04-26 14:09] 0xf11nix commented on #895
GM @LPX55!

My apologies for the delay in getting back to you on this one. We did have a couple of hiccups along the way relating to the spec/scope of the changes, but this has since been resolved.

Regarding an update on a timeline for release; I have now opened a PR (#1585), which is still in draft (pending a couple more changes before we can rollout to production), but we are on track for this

[2022-04-26 14:52] willyogo opened #1586 "Replace hardcoded FOXy APR in confirm step with updatable APR"
### Overview

A new environment variable has been added for FOXy APR, but the confirm and status step in the FOXy staking flow still display the hardcoded APR of 15%.

<img width="508" alt="image" src="https://user-images.githubusercontent.com/26232238/165328141-55d34c2f-ce81-4e41-bab4-0a0469bd43e0.png">

vs.

<img width="1242" alt="image" src="https://user-images.githubusercontent.com/26232238/16

[2022-04-26 16:02] DiggyDiggy2 commented on #1565
We are currently trying to replicate this.

[2022-04-26 18:52] 0xdef1cafe commented on #1552
we need to at least show the accounts for supported chains

[2022-04-26 18:52] #1552 closed

[2022-04-26 21:15] #1496 closed

[2022-04-26 22:34] mrnerdhair opened #1592 "KeepKey Settings: Passphrase update success message displayed by default"
### Overview

The passphrase screen in KeepKey Settings shows "Passphrase successfully updated!" before clicking anything.

### References and additional details

(tbd)

### Acceptance Criteria

- The confirmation message should only display on an actual update of the passphrase, not by default.

### Need By Date

_No response_

### Screenshots/Mockups

![image](https://user-images.githubuserconte

[2022-04-26 22:35] mrnerdhair commented on #1592
... dangit, this was on a feature branch. sorry for the confusion.

[2022-04-26 22:35] #1592 closed

[2022-04-27 16:03] gomesalexandre commented on #895
Agreed - a "Connect Wallet" button instead of the usual wallet dropdown would be a better UX for the demo wallet.

[2022-04-27 17:03] decentralized-j opened #1597 "1 Word Copy Change - Cosmos Description"
### Overview

Gm!

There is a word missing in the Cosmos asset description.

In it's current form, with the missing word in bold & italics

Cosmos (ATOM) is a cryptocurrency that powers an ecosystem of blockchains designed to scale and interoperate with each other. The Cosmos vision aligns with the ShapeShift vision of a multi chain future, and enables a network of blockchains to be **_able_** to

[2022-04-27 20:32] theoboldfrazier opened #1598 "Add Friendly-Captcha to Web v2"
### Overview

We've decided to use friendly captcha for the legacy wallet migration.

We'll need to add Friendly Captcha to the legacy wallet login screen that will have to be completed and a solution sent to be verified on the server.

### References and additional details

https://docs.friendlycaptcha.com/#/

### Acceptance Criteria

A Friendly Captcha is used by the login screen before a user c

[2022-04-27 20:34] #1492 closed

[2022-04-27 21:16] 0xApotheosis opened #1599 "Show a toast message if there is an available update to a connected KeepKey"
### Overview

We currently alert a KeepKey user of any available updates to their device's firmware or bootloader in the KeepKey settings menu.

We should make this more visible by showing a toast as well.

### References and additional details

Use the same logic as the menu system to determine update status.

We have a `useKeepKeyVersions.ts` hook available that tracks this.

### Acceptance Crit

[2022-04-27 22:06] DaoDev44 opened #1602 "Refactor Swapper Error Handling in Web"
### Overview

- Currently, the error handling in `TradeConfirm` is tightly coupled with the ZrxSwapper. We need to remove the Zrx specific error messages and make more generalized error codes.

### References and additional details

Most of the error handling logic is inside of `useSwapper.ts`, `TradeConfirm.ts`, `Approval.tsx` and `TradeInput.ts`.

### Acceptance Criteria

- Trade error handling

[2022-04-27 22:30] 0xApotheosis commented on #1599
@NeOMakinG to pick this up once Product has reviewed.

[2022-04-27 22:45] #1541 closed

[2022-04-27 22:47] 0xdef1cafe opened #1604 "Remove REACT_APP_FEATURE_COSMOS_INVESTOR feature flag"
### Overview

Cosmos staking is now live in production, flag should be removed as it's tech debt.

### References and additional details

* https://github.com/shapeshift/web/blob/develop/src/state/slices/preferencesSlice/preferencesSlice.ts#L24
* https://github.com/shapeshift/web/blob/develop/src/config.ts#L30

### Acceptance Criteria

* `REACT_APP_FEATURE_COSMOS_INVESTOR` does not appear anywhere

[2022-04-28 00:48] MBMaria opened #1607 ""KeepKey wiped successfully" message when not entering passphrase"
### Overview

When passphrase is enabled on Keepkey and logging into the wallet, if you click the "x" on the passphrase modal when prompted for the passphrase it takes you to the message "Keepkey wiped successfully". When trying to "x" out of this screen it just causes the screen in the background to load indefinitely.

### References and additional details

1) Log into app.shapeshift.com and conn

[2022-04-28 02:34] 0xApotheosis commented on #1607
Further context on this: at the moment it's tricky to identify the state that the KeepKey is in, as the KeepKey emits the same event for both `not initialized` and `awaiting passphrase`.

There is probably some hacky way we could work this out, such as the ordering of events received, which might be unique in each case - but I'd rather get this updated in the KeepKey firmware as a more robust fix.

[2022-04-28 02:47] 0xApotheosis opened #1609 "Handle factory-new KeepKey connections"
### Overview

Upon connecting a factory-new KK -- or one which has been recovered after a failed firmware update -- the user gets dropped to this screen, which could be misleading if the user didn't initiate a wipe.

### References and additional details

Currently, when we receive a `NOTINITIALIZED` event from a KeepKey, we dispatch the `OPEN_KEEPKEY_INITIALIZE` action (assuming the user wiped it

[2022-04-28 02:52] 0xApotheosis opened #1610 "Gracefully handle not completing the KeepKey initialization flow"
### Overview

The user can select the close or back buttons to exit the initialization flow, possibly by accident. This will drop them into a broken state until they choose to disconnect their wallet. This may be a non-obvious fix, especially if the user got into the state accidentally.

![165401124-20b3d3ed-632a-41c6-a086-dbdc6bbf3495](https://user-images.githubusercontent.com/97164662/165666753-

[2022-04-28 02:54] 0xApotheosis opened #1611 "Add copy communicating that a KeepKey label is optional when initializing"
### Overview

Setting a label is optional and this should be communicated to the user somehow.

![165402624-08e980a4-fd01-41f6-83e4-a2b1ca8767e6](https://user-images.githubusercontent.com/97164662/165667265-6e61ae48-22f6-4f93-9021-55d2fc960610.png)

### References and additional details

This is probably just a translation string update.

### Acceptance Criteria

Inform the user that setting the l

[2022-04-28 03:11] 0xApotheosis commented on #1592
Yes ser, that was a bug that I believe I fixed before the feature was rolled out 👍

[2022-04-28 03:13] 0xApotheosis opened #1612 "KeepKey and PIN entry copy updates"
### Overview

Update copy for the following screens:

**Enter Your New Pin / Confirm Your New Pin**

1. "PIN" should be capitalized.

**Write down Recovery Sentence**

1. Capitalize "down" for title case
2. Would read more naturally as "Write Down Your Recovery Sentence" as previous steps used "Your" as well

**Enter your Recovery Sentence**

1. Capitalize "your"
2. Run-on sentence; recommend some

[2022-04-28 03:16] 0xApotheosis opened #1613 "Improve PIN modal"
### Overview

There are a number of quirks with the PIN modal that we can improve.

![165401810-5e4d9cad-408c-4804-975a-8fbfa2befae6](https://user-images.githubusercontent.com/97164662/165669570-46f1ca3c-c716-424e-8419-b532fa9cbaa7.png)

### References and additional details

From @mrnerdhair:

1. This screen should focus the entry field to allow the PIN to be entered using only the numpad keys, w

[2022-04-28 03:30] 0xApotheosis opened #1614 "Fix "Cancel" button on "Write down Recovery Sentence" modal"
### Overview

Pressing "Cancel" doesn't exit the screen or do anything, though it leaves the device in an uninitialized state.

### References and additional details

- Send a `cancel()` request to the connected device, if it doesn't do this already
- Do something with UX to make this more graceful - product to confirm, as per comment below in acceptance criteria.

### Acceptance Criteria

If a us

[2022-04-28 09:17] 0xApotheosis opened #1616 "Re-pairing a KeepKey after wiping it hangs"
### Overview

When a KeepKey is wiped and then immediately reconnected from the splash screen it hangs and never connects.

The only way around this, it seems, is to unplug the KeepKey after wiping it, and plugging it back in.

### References and additional details

This might actually be a bug with `hdwallet` or the KeepKey firmware.

### Acceptance Criteria

Either fix the bug, allowing the Keep

[2022-04-28 09:23] 0xApotheosis opened #1617 "Add the ability to go back to previous words when restoring a KeepKey from a recovery phrase"
### Overview

The KeepKey allows for seed words to be removed by backspacing through the letters.

In the current implementation, this is limited to backspacing through the current word.

### References and additional details

We currently only keep the current word in state as a fixed length array that represents the currently visible inputs.

We'll instead need to remember the entire seed phrase

[2022-04-28 09:27] 0xApotheosis opened #1618 "Handle incorrect seed phrase entry"
### Overview

Mis-entering the whole phrase shows "Setting up device..." but it never completes and the device is left uninitialized

### References and additional details

In this state, re-pairing the device can get you back to an initialization flow, but if you back out you'll see "Setting up device" again instead of getting booted back to the wallet selection screen.

### Acceptance Criteria

[2022-04-28 12:33] 0xf11nix opened #1621 "Demo Wallet - Allow use of app without connected wallet/"demo mode" (v2)"
# Overview

Many users have requested to be able to use the app (app.shapeshift.com) without first connecting a wallet. This makes sense from an engagement perspective - people want to see what things look and feel like before they use it.

**Objective**

*As a user I want to be able to view a demo of the Shapeshift web app before I connect my wallet.*

*[app.shapeshift.com](http://app.shapeshift.

[2022-04-28 12:36] 0xf11nix commented on #895
Closing in favour of https://github.com/shapeshift/web/issues/1621

[2022-04-28 12:36] #895 closed

[2022-04-28 14:29] gomesalexandre commented on #921
@reallybeard could you add that to the description of the issue/ to #1555 as well? Both are not including clear A/C and it would help reviewers to have it in the issue description.

[2022-04-28 16:03] reallybeard commented on #1599
![Screen Shot 2022-04-28 at 11 02 00 AM](https://user-images.githubusercontent.com/89934888/165795260-9793d47c-ab08-4bfe-a8b7-58131cc97752.png)

To make the toast clickable we will need to use a custom alert component, see the update app toast in `App.tsx`. We should use the `solid` variant of the alert component.

[2022-04-28 16:05] #1573 closed

[2022-04-28 16:21] 0xdef1cafe commented on #1565
@MBMaria have you upgraded the firmware on this device yet? if not, could you please physically get the device to @0xApotheosis to repro and diagnose?

[2022-04-28 16:38] Neverwas-dev commented on #1565
@DiggyDiggy2 I worked with @MBMaria and @Lychbot yesterday on this and was unable to recreate on my KeepKey that is on
<img width="854" alt="image" src="https://user-images.githubusercontent.com/95000549/165801678-aeb3922c-ea55-44de-b1b7-ecb3a95ba632.png">

[2022-04-28 16:48] #1186 closed

[2022-04-28 18:56] SS-FOX-McCloud commented on #1599
@reallybeard @NeOMakinG does this still need product review or can we remove that tag?

[2022-04-28 20:51] SS-FOX-McCloud commented on #1614
If a user cancels during this step have them route back to the connect wallet screen.  This is the same activity if they were to cancel during any other steps in the flow. The user would need to start the recover flow over.

[2022-04-28 20:53] SS-FOX-McCloud commented on #1610
If a user disconnects their KeepKey close the modal and kick them back to the connect wallet flow. Also, send the user to the wallet connection screen if they ever close (x) out of the recovery modal.

[2022-04-28 20:58] gomesalexandre opened #1624 "Cosmos - Merge `<GetStarted />` into `<Staking />` views"
### Overview

As a user with no staked positions yet, clicking "Start Staking" on the Cosmos staking modal routes to the "Overview" step of the Cosmos staking modal.
Since I have no staked positions yet, seeing the overview makes no sense and I should be seeing something more intuitive to guide me through the staking process. We actually have that already: the `<GetStarted />` modal, which we coul

[2022-04-28 20:59] SS-FOX-McCloud commented on #1609
Lets update the title of this modal to "Get Started with KeepKey".  Update the rest of the copy to "Your KeepKey is set to factory default settings. Create a new wallet, or restore a wallet using your secret recovery phrase" As this is the first modal in this flow lets also remove the back button. Also, the close button should redirect user back to the connect wallet

recap:
- update title to "Get

[2022-04-28 21:00] SS-FOX-McCloud commented on #1618
If a user enters an invalid recovery phrase we should show an error, The Recovery Phrase you have entered is invalid" and a button should be clickable to "Try Again" which should route the user back to the seed entry screen.

[2022-04-28 21:03] #1498 closed

[2022-04-28 21:03] #1528 closed

[2022-04-28 21:05] NeOMakinG commented on #1599
Should we display the toast only one time at the first connection? And then store the fact that it's been dismissed for a couple of days until showing it again?

Or should we display it every time we visit the app?

[2022-04-28 21:20] reallybeard commented on #1599
Its in their best interest to update, so I would every time they connect the wallet but haven't update it yet.

[2022-04-28 21:22] gomesalexandre commented on #1624
If we go for this, we probably want to be consistent in what we allow and don't allow, and:
- create a second issue to disable the unstake step link if there is no amount staked
  - possibly, disable the overview step if there is both no staked amount and no rewards amount

[2022-04-28 21:24] NeOMakinG commented on #1599
Thanks for the reply, considering we don't need product input anymore :+1:

[2022-04-28 22:42] Neverwas-dev commented on #1565
During testing today I was able to recreate this with regularly and may have a possible root cause. I have since tested with @MBMaria and @Lychbot and we can all recreate with the following steps and this is for both old versions of firmware and bootloaders and the most recent.
Recreation steps
1. Log in to a different wallet and switch to KeepKey wallet
2. Enter your pin code
3. when prompted to

[2022-04-29 00:06] 0xApotheosis commented on #1565
I can use @MBMaria's KeepKey to work through this.

[2022-04-29 00:27] MBMaria commented on #1565
My keepkey is updated to the current bootloader and firmware. This ticket was created off a triage ticket put through by joshuAF so not sure if you will need my kk?

![image](https://user-images.githubusercontent.com/100157997/165867521-d02b3b61-01a8-4d8b-b4ef-b1cd61e65a4b.png)

[2022-04-29 01:32] DaoDev44 opened #1628 "Convert SelectAsset.tsx to accept assetId's instead of Assets"
### Overview

- We are trying to move towards passing `assetId`'s instead of the `Asset` itself. We should retrieve the asset only at the level in which it's being used.

### References and additional details

- Inside of `SelectAsset.tsx`

### Acceptance Criteria

- Refactor `SelectAsset.tsx` to accept `assetId`'s instead of `Asset`'s
- Use selector to convert the `assetId`s to `Asset`s
- Convert

[2022-04-29 02:07] 0xApotheosis opened #1629 "Replace CAIP property names with generic names (`assetId`, `chainId`, etc)"
### Overview

We use CAIP vernacular in some property names, variables, and functions.

Rename these to their more generic equivalents.

### References and additional details

E.g. `selectAssetByCAIP19`

### Acceptance Criteria

We no longer use CAIP vernacular.

### Need By Date

_No response_

### Screenshots/Mockups

_No response_

### Estimated effort

_No response_

Related PRs:

1. https://g

[2022-04-29 16:55] 0xdef1cafe opened #1637 "Demo wallet enhancements"
### Overview

* Deep linking functionality - so we can tweet a link that doesn't require clicking the "or view a demo ->" button
* Add a banner indicating that the user is using a demo wallet with a CTA to connect a real wallet
  * Consider where this will be shown on mobile
* Make the "or view a demo ->" button a solid variant/more prominent
* Operations
  * add more FOX to this wallet - probably

[2022-04-29 17:03] 0xdef1cafe opened #1638 "Dashboard - portfolio asset row click handler"
### Overview

Currently only the left column/asset name is wired to the click handler, but the highlighting applies to the row. We want to be able to click anywhere in the row.

### References and additional details

WIP.

### Acceptance Criteria

* Clicking anywhere in the row works.

### Need By Date

n/a

### Screenshots/Mockups

n/a - very simple.

### Ownership

- [X] If my bounty needs engin

[2022-04-29 17:05] 0xdef1cafe opened #1639 "Asset page - default to balance chart if non zero balance"
### Overview

Currently - on assets, we default to the price chart. On an account page (which is known to have a non-zero balance), we default to the balance chart.

We can enhance this and default to the balance chart on the asset page if a user has a non-zero balance for a given asset.

### References and additional details

WIP.

### Acceptance Criteria

* The behavior works as described above.

[2022-04-29 17:06] 0xdef1cafe commented on #1637
@tshifty can you please do the following above with the wallet used to generate these demo xpubs?

[2022-04-29 17:23] tshifty commented on #1637
@0xdef1cafe done

[2022-04-29 21:46] #1483 closed

[2022-04-29 21:46] #1546 closed

[2022-04-29 22:22] MBMaria opened #1645 "Different Assets displaying an incorrect amount staked in Native and KeepKey wallets"
### Overview

Certain assets from the dashboard in either KeepKey or Native wallet are displaying a staked amount incorrectly. The assets are showing a staked amount to the same value as the current balance in the wallet that is staked for ATOM. So far the list of assets identified with the unusual staking balance are: BTC, USD, USDT, CRO, FUN, ICHI, OHM, MARK, COW, UST, CEL, SRM and GALA. Even if

[2022-04-29 22:41] willyogo opened #1646 "ShapeShift Native Wallet - Only prompt password entry if necessary"
### Overview

Currently on app.shapeshift.com, native wallet users are prompted to enter their password every time they visit or refresh the app. Ideally, users should have to enter their password minimally, like the first time they are signing a transaction per session. Further, if a user has already unlocked their wallet to sign a tx and then refreshes the page, ideally they don't have to unlock

[2022-04-30 15:10] NeOMakinG commented on #1614
@0xApotheosis I would like to take this one, should be quick, change the assign in case you've something against it

[2022-05-01 05:50] saujanyanagpal104 commented on #1183
@gomesalexandre @0xdef1cafe Can I know when I get paid for this bounty I picked this from gitcoin and this was my first so I don't know about the process, just asking?

[2022-05-01 08:11] 0xApotheosis commented on #1614
Go for it @NeOMakinG! It should be a simple on - `AwaitKeepKey` accepts an optional `onCancel` prop that can be used here.

[2022-05-01 10:47] gomesalexandre commented on #1183
Hi @saujanyanagpal104 ! Congrats on getting this merged 🎉.
We are currently transitioning over on the systems we use for bounties and during that transition period, we need to manually make the payment Txs, we can't do automatic Gitcoin payment on Mainnet. `Tyler | ShapeShift` will create a thread in `#🥳・bounties➕jobs` on Discord so you can send an address (it can be the same as you have there) fo

[2022-05-01 10:57] saujanyanagpal104 commented on #1183
@gomesalexandre Thanks! my discord handle is "converse_spear".

[2022-05-01 11:25] NeOMakinG commented on #1610
@0xApotheosis I implemented the unplug behavior inside https://github.com/shapeshift/web/pull/1653

For the click on the closing cross, the fact that the `onClose` behavior is common to every wallets flows is blocking because we would need to override it for the KeepKey flow, I would need to talk about it with you in order to find the best solution

I also found a strange behavior/bug, if you ente

[2022-05-02 00:36] #1638 closed

[2022-05-02 04:44] 0xApotheosis commented on #1262
Reserved for @brymut.

@purelycrickets please approve the GitCoin work request when you have a moment.

[2022-05-02 14:25] #1576 closed

[2022-05-02 16:51] DiggyDiggy2 commented on #1637
mock up for "demo mode banner": https://www.figma.com/file/OHbVrAVaV2xQWUsq0nKzGm/ShapeShift-Library?node-id=548%3A2028

[2022-05-02 16:59] DiggyDiggy2 commented on #1637
here's the image for how the 'demo" button should look. let's bring them side by side when screen width permits. And stack on mobile as needed
<img width="540" alt="Screen Shot 2022-05-02 at 10 58 01 AM" src="https://user-images.githubusercontent.com/90058616/166291436-62d3a863-aeff-4feb-8e32-8abd877b534c.png">
.

[2022-05-02 17:23] willyogo commented on #957
@0xdef1cafe apologies for not seeing this sooner, are you able to connect willywonka.eth or 0x05A1ff0a32bc24265BCB39499d0c5D9A6cb2011c ? if not, lmk an address to send to and I'll send an unsupported ERC20

[2022-05-02 19:18] SS-FOX-McCloud opened #1656 "FOX staking flow (from DeFi screen)"
### Overview

When clicking into FOX token staking (FOXy) from "overview" in the  defi section the FOXy modal opens to the "withdrawal" screen/flow. We want the user to see the "overview" tab first.

<img width="497" alt="Screen Shot 2022-05-02 at 1 13 57 PM" src="https://user-images.githubusercontent.com/57505863/166310387-de514ae6-a395-4038-a04a-4c16e142a1e6.png">

### References and additional

[2022-05-02 21:39] gomesalexandre opened #1657 "Reloading an account page redirect to /accounts"
### Overview

As a user, when I go to the page of any asset other than Ethereum, then click on its account, reloading the page redirects to `/accounts`.

For reference,
- If I go to the assets page (not accounts), and reload, it actually reloads the correct page
- If I go to the Ethereum account page, and reload, it actually reloads the correct page
- If I go to any Bitcoin account page, or to the